Repository colonystack/colonycore: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, openapi-validate, lint-via-make, go-test-via-make

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.7.0"
default_stages:
  - pre-commit
  - pre-push
  - manual

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer
        exclude: .*(\.md|\.MD)$
      - id: trailing-whitespace
        exclude: .*(\.md|\.MD)$
      - id: check-yaml

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: prettier
        name: prettier (js/ts/json/yaml/md)
        language: system
        entry: pnpm
        args:
          - dlx
          - prettier@3.3.3
          - --ignore-unknown
        types_or:
          - javascript
          - ts
          - json
          - yaml
          - markdown
      - id: go-mod-tidy
        name: go mod tidy
        language: system
        entry: scripts/check-go-mod-tidy.sh
        pass_filenames: false
      - id: openapi-validate
        name: dataset openapi lint
        language: python
        entry: python
        args:
          - scripts/check_openapi.py
        additional_dependencies:
          - openapi-spec-validator==0.7.1
        files: ^docs/schema/dataset-service.openapi.yaml$
      - id: lint-via-make
        name: lint via make lint
        entry: make lint
        language: system
        pass_filenames: false
        files: '(^clients/python/.*\.py$|\.go$)'
      - id: go-test-via-make
        name: go test via make test
        entry: make test
        language: system
        pass_filenames: false
        files: '\.go$'

feat(cli): add catalog lifecycle management commands with audit chain and metadata outputs (#136)
  README.md
  cmd/colony/catalog.go
  cmd/colony/catalog_test.go
  cmd/colony/coverage_additional_test.go
  cmd/colony/main.go
  docs/annex/0007-catalog-lifecycle-management.md
Due: prettier, lint-via-make, go-test-via-make

feat(observability): add structured events and default dashboard/alerts
  cmd/colony/catalog.go
  cmd/colony/catalog_observability_test.go
  cmd/registry-check/main.go
  cmd/registry-check/observability_test.go
  docs/annex/0007-catalog-lifecycle-management.md
  internal/adapters/datasets/.import-restrictions
  internal/adapters/datasets/exporter.go
  internal/adapters/datasets/handler.go
  internal/adapters/datasets/observability_test.go
  internal/adapters/testutil/.import-restrictions
  internal/core/.import-restrictions
  internal/core/service.go
  internal/core/service_audit_test.go
  internal/core/service_observability_test.go
  internal/observability/.import-restrictions
  internal/observability/events.go
  internal/observability/events_test.go
  observability/README.md
  observability/alertmanager/routes.yaml
  observability/grafana/colonycore-observability-dashboard.json
  observability/prometheus/alerts.yaml
  pkg/domain/result_test.go
  pkg/domain/rules.go
Due: prettier, lint-via-make, go-test-via-make

fix(observability): harden telemetry tests and align dashboard/alert queries
  internal/adapters/datasets/observability_test.go
  internal/core/service.go
  internal/core/service_observability_test.go
  internal/observability/events_test.go
  observability/README.md
  observability/grafana/colonycore-observability-dashboard.json
  observability/prometheus/alerts.yaml
  pkg/domain/rules.go
Due: prettier, lint-via-make, go-test-via-make

fix(observability): make event recording deterministic and avoid lock-held emissions
  internal/adapters/datasets/observability_test.go
  internal/core/service.go
  internal/core/service_observability_test.go
  observability/README.md
  pkg/domain/rules.go
Due: prettier, lint-via-make, go-test-via-make

feat(observability): add structured events and default dashboard/alerts (#137)
  cmd/colony/catalog.go
  cmd/colony/catalog_observability_test.go
  cmd/registry-check/main.go
  cmd/registry-check/observability_test.go
  docs/annex/0007-catalog-lifecycle-management.md
  internal/adapters/datasets/.import-restrictions
  internal/adapters/datasets/exporter.go
  internal/adapters/datasets/handler.go
  internal/adapters/datasets/observability_test.go
  internal/adapters/testutil/.import-restrictions
  internal/core/.import-restrictions
  internal/core/service.go
  internal/core/service_audit_test.go
  internal/core/service_observability_test.go
  internal/observability/.import-restrictions
  internal/observability/events.go
  internal/observability/events_test.go
  observability/README.md
  observability/alertmanager/routes.yaml
  observability/grafana/colonycore-observability-dashboard.json
  observability/prometheus/alerts.yaml
  pkg/domain/result_test.go
  pkg/domain/rules.go
Due: prettier, lint-via-make, go-test-via-make

test(registry-check): add auto-discovered registry schema fixtures and conventions
  CONTRIBUTING.md
  cmd/registry-check/fixtures_test.go
  docs/schema/README.md
  testutil/fixtures/README.md
  testutil/fixtures/registry/README.md
  testutil/fixtures/registry/docs/invalid-quorum.md
  testutil/fixtures/registry/docs/rfc-superseded.md
  testutil/fixtures/registry/edge/registry-superseded-quorum.yaml
  testutil/fixtures/registry/invalid/registry-bad-path.yaml.error.txt
  testutil/fixtures/registry/invalid/registry-bad-quorum.yaml
  testutil/fixtures/registry/invalid/registry-bad-quorum.yaml.error.txt
  testutil/fixtures/registry/invalid/registry-bad-status.yaml.error.txt
  testutil/fixtures/registry/invalid/registry-bad-type.yaml.error.txt
  testutil/fixtures/registry/invalid/registry-missing-title.yaml.error.txt
Due: prettier, lint-via-make, go-test-via-make

test(registry-check): enforce invalid fixture sidecars and fixture path resolution
  CONTRIBUTING.md
  cmd/registry-check/fixtures_test.go
  docs/schema/README.md
  testutil/fixtures/registry/README.md
  testutil/fixtures/registry/invalid/registry-bad-path.yaml.error.txt
  testutil/fixtures/registry/invalid/registry-bad-quorum.yaml.error.txt
  testutil/fixtures/registry/invalid/registry-bad-status.yaml.error.txt
  testutil/fixtures/registry/invalid/registry-bad-type.yaml.error.txt
  testutil/fixtures/registry/invalid/registry-missing-title.yaml.error.txt
Due: prettier, lint-via-make, go-test-via-make

test(registry-check): detect orphan sidecars and harden trimpath fixture root
  cmd/registry-check/fixtures_test.go
  testutil/fixtures/registry/invalid/registry-missing-title.yaml.error.txt
Due: lint-via-make, go-test-via-make

test(registry-check): add auto-discovered registry schema fixtures and conventions (#139)
  CONTRIBUTING.md
  cmd/registry-check/fixtures_test.go
  docs/schema/README.md
  testutil/fixtures/README.md
  testutil/fixtures/registry/README.md
  testutil/fixtures/registry/docs/invalid-quorum.md
  testutil/fixtures/registry/docs/rfc-superseded.md
  testutil/fixtures/registry/edge/registry-superseded-quorum.yaml
  testutil/fixtures/registry/invalid/registry-bad-path.yaml.error.txt
  testutil/fixtures/registry/invalid/registry-bad-quorum.yaml
  testutil/fixtures/registry/invalid/registry-bad-quorum.yaml.error.txt
  testutil/fixtures/registry/invalid/registry-bad-status.yaml.error.txt
  testutil/fixtures/registry/invalid/registry-bad-type.yaml.error.txt
  testutil/fixtures/registry/invalid/registry-missing-title.yaml.error.txt
Due: prettier, lint-via-make, go-test-via-make

feat(governance): finalize observability ADR and add registry migration baseline
  .golangci.yml
  ARCHITECTURE.md
  README.md
  cmd/colony/catalog.go
  cmd/colony/catalog_observability_test.go
  cmd/registry-check/compatibility_test.go
  cmd/registry-check/fix_additional_test.go
  cmd/registry-check/main.go
  cmd/registry-check/main_test.go
  docs/adr/0006-observability-architecture.md
  docs/annex/0008-registry-format-evolution.md
  docs/rfc/0001-colonycore-base-module.md
  docs/rfc/registry.yaml
  internal/ci/markdownlint.baseline.json
  observability/README.md
  plugins/README.md
  testutil/fixtures/registry/README.md
  testutil/fixtures/registry/compat/registry-minimal.yaml
  testutil/fixtures/registry/compat/registry-multi.yaml
  testutil/fixtures/registry/compat/registry-status-header.yaml
Due: prettier, lint-via-make, go-test-via-make

feat(governance): finalize observability ADR
  cmd/registry-check/fix_additional_test.go
  cmd/registry-check/main.go
  cmd/registry-check/main_additional_test.go
  cmd/registry-check/main_extra_test.go
  docs/rfc/0001-colonycore-base-module.md
Due: prettier, lint-via-make, go-test-via-make

feat(governance): finalize observability ADR and add registry migration on baseline (#140)
  .golangci.yml
  ARCHITECTURE.md
  README.md
  cmd/colony/catalog.go
  cmd/colony/catalog_observability_test.go
  cmd/registry-check/compatibility_test.go
  cmd/registry-check/fix_additional_test.go
  cmd/registry-check/main.go
  cmd/registry-check/main_additional_test.go
  cmd/registry-check/main_extra_test.go
  cmd/registry-check/main_test.go
  docs/adr/0006-observability-architecture.md
  docs/annex/0008-registry-format-evolution.md
  docs/rfc/0001-colonycore-base-module.md
  docs/rfc/registry.yaml
  internal/ci/markdownlint.baseline.json
  observability/README.md
  plugins/README.md
  testutil/fixtures/registry/README.md
  testutil/fixtures/registry/compat/registry-minimal.yaml
  testutil/fixtures/registry/compat/registry-multi.yaml
  testutil/fixtures/registry/compat/registry-status-header.yaml
Due: prettier, lint-via-make, go-test-via-make

docs(governance): record dataset service dependency approvals
  docs/annex/0009-dataset-service-dependency-approvals.md
  docs/rfc/0001-colonycore-base-module.md
  docs/rfc/registry.yaml
Due: prettier

docs(governance): record dataset service dependency approvals (#144)
  docs/annex/0009-dataset-service-dependency-approvals.md
  docs/rfc/0001-colonycore-base-module.md
  docs/rfc/registry.yaml
Due: prettier

feat(datasets): add dataset HTTP error, correlation, and metrics middleware
  .golangci.yml
  docs/schema/dataset-service.openapi.yaml
  go.mod
  go.sum
  internal/adapters/datasets/handler.go
  internal/adapters/datasets/handler_template_errors_test.go
  internal/adapters/datasets/http_metrics.go
  internal/adapters/datasets/middleware.go
  internal/adapters/datasets/middleware_test.go
  internal/adapters/datasets/problem.go
Due: prettier, openapi-validate, lint-via-make, go-test-via-make

feat(datasets): harden dataset HTTP metrics and export path validation
  .golangci.yml
  docs/schema/dataset-service.openapi.yaml
  internal/adapters/datasets/handler.go
  internal/adapters/datasets/http_metrics.go
  internal/adapters/datasets/middleware.go
  internal/adapters/datasets/middleware_test.go
Due: prettier, openapi-validate, lint-via-make, go-test-via-make

feat(datasets): add dataset HTTP error, correlation, and metrics middleware (#146)
  .golangci.yml
  docs/schema/dataset-service.openapi.yaml
  go.mod
  go.sum
  internal/adapters/datasets/handler.go
  internal/adapters/datasets/handler_template_errors_test.go
  internal/adapters/datasets/http_metrics.go
  internal/adapters/datasets/middleware.go
  internal/adapters/datasets/middleware_test.go
  internal/adapters/datasets/problem.go
Due: prettier, openapi-validate, lint-via-make, go-test-via-make

feat(datasets): expose export progress and artifact readiness
  docs/schema/dataset-service.openapi.yaml
  internal/adapters/datasets/exporter.go
  internal/adapters/datasets/exporter_progress_test.go
Due: prettier, openapi-validate, lint-via-make, go-test-via-make

feat(datasets): expose export progress and artifact readiness
  internal/adapters/datasets/exporter.go
  internal/adapters/datasets/exporter_progress_test.go
Due: lint-via-make, go-test-via-make

feat(datasets): expose export progress and artifact readiness (#147)
  docs/schema/dataset-service.openapi.yaml
  internal/adapters/datasets/exporter.go
  internal/adapters/datasets/exporter_progress_test.go
Due: prettier, openapi-validate, lint-via-make, go-test-via-make

fix(datasets): avoid phantom exports on queue saturation
  internal/adapters/datasets/exporter.go
  internal/adapters/datasets/exporter_progress_test.go
  internal/adapters/datasets/exporter_worker_test.go
  internal/adapters/datasets/handler_export_errors_test.go
  internal/adapters/datasets/handler_extra_test.go
Due: lint-via-make, go-test-via-make

fix(datasets): avoid phantom exports on queue saturation (#148)
  internal/adapters/datasets/exporter.go
  internal/adapters/datasets/exporter_progress_test.go
  internal/adapters/datasets/exporter_worker_test.go
  internal/adapters/datasets/handler_export_errors_test.go
  internal/adapters/datasets/handler_extra_test.go
Due: lint-via-make, go-test-via-make

feat(datasets): return RFC 7807 field errors from validate
  docs/schema/dataset-service.openapi.yaml
  internal/adapters/datasets/handler.go
  internal/adapters/datasets/handler_export_errors_test.go
  internal/adapters/datasets/handler_validate_problem_test.go
  internal/adapters/datasets/middleware_test.go
  internal/adapters/datasets/problem.go
  pkg/datasetapi/host_template.go
  pkg/datasetapi/host_template_test.go
Due: prettier, openapi-validate, lint-via-make, go-test-via-make

fix(datasets): align run validation errors with RFC 7807
  docs/schema/dataset-service.openapi.yaml
  internal/adapters/datasets/handler.go
  internal/adapters/datasets/handler_export_errors_test.go
  internal/adapters/datasets/handler_run_additional_test.go
  internal/core/dataset.go
  internal/core/dataset_test.go
Due: prettier, openapi-validate, lint-via-make, go-test-via-make

fix(internal): Fix unreachable template value
  internal/core/dataset.go
Due: lint-via-make, go-test-via-make

feat(datasets): return RFC 7807 field errors from validate (#149)
  docs/schema/dataset-service.openapi.yaml
  internal/adapters/datasets/handler.go
  internal/adapters/datasets/handler_export_errors_test.go
  internal/adapters/datasets/handler_run_additional_test.go
  internal/adapters/datasets/handler_validate_problem_test.go
  internal/adapters/datasets/middleware_test.go
  internal/adapters/datasets/problem.go
  internal/core/dataset.go
  internal/core/dataset_test.go
  pkg/datasetapi/host_template.go
  pkg/datasetapi/host_template_test.go
Due: prettier, openapi-validate, lint-via-make, go-test-via-make

feat(datasets): add scoped template pagination and streamed CSV progress
  clients/R/dataset_client.R
  clients/python/dataset_client.py
  docs/schema/dataset-service.openapi.yaml
  internal/adapters/datasets/handler.go
  internal/adapters/datasets/handler_helpers_test.go
  internal/adapters/datasets/handler_list_test.go
  internal/adapters/datasets/handler_stream_test.go
  internal/adapters/datasets/middleware.go
Due: prettier, openapi-validate, lint-via-make, go-test-via-make

fix(datasets): handle paginated template clients and streaming flushes
  clients/R/dataset_client.R
  clients/python/dataset_client.py
  internal/adapters/datasets/handler.go
  internal/adapters/datasets/handler_list_test.go
  internal/adapters/datasets/middleware.go
  internal/adapters/datasets/middleware_test.go
Due: lint-via-make, go-test-via-make

fix(datasets): guard paginated clients and clarify stream trailers
  clients/R/dataset_client.R
  clients/python/dataset_client.py
  docs/schema/dataset-service.openapi.yaml
Due: prettier, openapi-validate, lint-via-make

feat(datasets): add scoped template pagination and streamed CSV progress (#150)
  clients/R/dataset_client.R
  clients/python/dataset_client.py
  docs/schema/dataset-service.openapi.yaml
  internal/adapters/datasets/handler.go
  internal/adapters/datasets/handler_helpers_test.go
  internal/adapters/datasets/handler_list_test.go
  internal/adapters/datasets/handler_stream_test.go
  internal/adapters/datasets/middleware.go
  internal/adapters/datasets/middleware_test.go
Due: prettier, openapi-validate, lint-via-make, go-test-via-make

feat(dataset-clients): expose export progress and stream metadata
  .gitignore
  clients/R/dataset_client.R
  clients/python/dataset_client.py
  clients/python/test_dataset_client.py
Due: lint-via-make

build(lint): migrate anyguard to golangci module plugin
  .custom-gcl.yml
  .golangci.yml
  Makefile
  clients/python/__pycache__/dataset_client.cpython-310.pyc
  docs/annex/0004-typing-guidelines.md
  internal/ci/any_allowlist.json
  internal/ci/any_allowlist.yaml
  internal/validation/any_usage.go
  internal/validation/any_usage_test.go
  pkg/domain/extension_accessors_test.go
  scripts/validate_any_usage/main.go
  scripts/validate_any_usage/main_test.go
  scripts/validate_plugin_patterns.go
  scripts/validate_plugin_patterns_test.go
Due: prettier, lint-via-make, go-test-via-make

fix: update domain extension accessor lint compliance
  internal/ci/any_allowlist.yaml
  pkg/domain/extension_accessors.go
  pkg/domain/extension_accessors_test.go
Due: prettier, lint-via-make, go-test-via-make

build(lint): pin anyguard module plugin to v2.0.3
  .custom-gcl.yml
  .gitignore
  Makefile
  clients/python/__pycache__/dataset_client.cpython-310.pyc
  docs/annex/0004-typing-guidelines.md
  scripts/validate_plugin_patterns_test.go
Due: prettier, lint-via-make, go-test-via-make

chore(lint): align anyguard module metadata
  .golangci.yml
  docs/annex/0004-typing-guidelines.md
Due: prettier

build(lint): migrate anyguard to golangci module plugin (#154)
  .custom-gcl.yml
  .gitignore
  .golangci.yml
  Makefile
  docs/annex/0004-typing-guidelines.md
  internal/ci/any_allowlist.json
  internal/ci/any_allowlist.yaml
  internal/validation/any_usage.go
  internal/validation/any_usage_test.go
  pkg/domain/extension_accessors.go
  scripts/validate_any_usage/main.go
  scripts/validate_any_usage/main_test.go
  scripts/validate_plugin_patterns.go
  scripts/validate_plugin_patterns_test.go
Due: prettier, lint-via-make, go-test-via-make
