Repository colonystack/colonycore: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, openapi-validate, lint-via-make, go-test-via-make

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.7.0"
default_stages:
  - pre-commit
  - pre-push
  - manual

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer
        exclude: .*(\.md|\.MD)$
      - id: trailing-whitespace
        exclude: .*(\.md|\.MD)$
      - id: check-yaml

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: prettier
        name: prettier (js/ts/json/yaml/md)
        language: system
        entry: pnpm
        args:
          - dlx
          - prettier@3.3.3
          - --ignore-unknown
        types_or:
          - javascript
          - ts
          - json
          - yaml
          - markdown
      - id: go-mod-tidy
        name: go mod tidy
        language: system
        entry: scripts/check-go-mod-tidy.sh
        pass_filenames: false
      - id: openapi-validate
        name: dataset openapi lint
        language: python
        entry: python
        args:
          - scripts/check_openapi.py
        additional_dependencies:
          - openapi-spec-validator==0.7.1
        files: ^docs/schema/dataset-service.openapi.yaml$
      - id: lint-via-make
        name: lint via make lint
        entry: make lint
        language: system
        pass_filenames: false
        files: '(^clients/python/.*\.py$|\.go$)'
      - id: go-test-via-make
        name: go test via make test
        entry: make test
        language: system
        pass_filenames: false
        files: '\.go$'

feat: Hooking plugin facade into new typed payload helpers
  internal/core/plugin_rule_adapter.go
Due: lint-via-make, go-test-via-make

feat: Hook plugin surfaces into typed payload flow
  internal/ci/pluginapi.snapshot
  internal/core/dataset_test.go
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_test.go
  pkg/pluginapi/payload.go
  pkg/pluginapi/payload_test.go
  pkg/pluginapi/views.go
  plugins/frog/plugin_rule_test.go
Due: lint-via-make, go-test-via-make

feat: Wire dataset facades into typed payload flow
  internal/ci/datasetapi.snapshot
  pkg/datasetapi/facade.go
  pkg/datasetapi/facade_test.go
  pkg/datasetapi/payload.go
  pkg/datasetapi/payload_test.go
Due: lint-via-make, go-test-via-make

feat(domain): replace extension maps with typed containers
  internal/core/dataset_facade_mapper_test.go
  internal/core/plugin_rule_adapter_coverage_test.go
  internal/core/plugin_rule_adapter_test.go
  internal/core/service_observability_test.go
  internal/core/service_test.go
  internal/infra/persistence/memory/store_crud_test.go
  internal/infra/persistence/sqlite/memstore_full_test.go
  internal/integration/relationship_test.go
  pkg/domain/entities_json_test.go
  pkg/domain/extension_accessors_test.go
  pkg/domain/extension_containers_test.go
  pkg/domain/extension_slot_bridge_test.go
  pkg/domain/extension_slots.go
  pkg/domain/extension_slots_coverage_test.go
  pkg/domain/extension_slots_test.go
  pkg/domain/testhelpers_test.go
Due: lint-via-make, go-test-via-make

feat(domain): remove legacy extension map hydration
  pkg/domain/extension_accessors_test.go
  pkg/domain/extension_containers.go
  pkg/domain/extension_containers_test.go
  pkg/domain/extension_slots_helpers.go
  pkg/domain/extension_slots_helpers_test.go
  pkg/domain/extension_slots_test.go
Due: lint-via-make, go-test-via-make

refactor(domain): clone extensions via containers
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/sqlite/memstore.go
  pkg/domain/extension_containers_test.go
  pkg/domain/extension_slot_bridge.go
  pkg/domain/extension_slot_bridge_test.go
  pkg/domain/extension_slots.go
  pkg/domain/extension_slots_coverage_test.go
  pkg/domain/extension_slots_test.go
Due: lint-via-make, go-test-via-make

chore: harden domain extension containers
  pkg/domain/entities.go
  pkg/domain/entities_json_test.go
  pkg/domain/extension_accessors.go
  pkg/domain/extension_accessors_test.go
  pkg/domain/extension_containers_test.go
  pkg/domain/extension_slots_helpers_test.go
Due: lint-via-make, go-test-via-make

refactor(domain): enforce container-only extension payloads
  pkg/domain/entities.go
  pkg/domain/entities_json_test.go
  pkg/domain/extension/container.go
  pkg/domain/extension_accessors.go
  pkg/domain/extension_accessors_test.go
  pkg/domain/extension_containers_test.go
  pkg/domain/extension_slots.go
  pkg/domain/extension_slots_test.go
Due: lint-via-make, go-test-via-make

chore: add entity model schema seed and validation hook
  .pre-commit-config.yaml
  Makefile
  docs/schema/README.md
  docs/schema/entity-model.json
  internal/tools/entitymodel/validate/main.go
  internal/tools/entitymodel/validate/main_test.go
  pkg/domain/extension_accessors.go
Due: prettier, lint-via-make, go-test-via-make

feat: harden entity model validation
  internal/tools/entitymodel/validate/main.go
  internal/tools/entitymodel/validate/main_test.go
Due: lint-via-make, go-test-via-make

chore: tighten entity-model validation and state metadata checks
  docs/schema/entity-model.json
  internal/tools/entitymodel/validate/main.go
  internal/tools/entitymodel/validate/main_test.go
Due: prettier, lint-via-make, go-test-via-make

chore: enforce relationship cardinality in entity model validator
  internal/tools/entitymodel/validate/main.go
  internal/tools/entitymodel/validate/main_test.go
Due: lint-via-make, go-test-via-make

chore: harden entity model validator
  internal/tools/entitymodel/validate/main.go
  internal/tools/entitymodel/validate/main_test.go
Due: lint-via-make, go-test-via-make

docs: align entity-model lifecycles with RFC-0001
  docs/schema/README.md
  docs/schema/entity-model.json
Due: prettier

chore: enforce entity model validation in lint
  Makefile
  docs/schema/README.md
Due: prettier

chore: Remove schema validator stop from pre-commit
  .pre-commit-config.yaml
Due: prettier

chore: scaffold entity model tooling
  Makefile
  docs/annex/plugin-contract.md
  docs/schema/README.md
  internal/tools/entitymodel/validate/main.go
  internal/tools/entitymodel/validate/main_test.go
  testutil/fixtures/entity-model/README.md
Due: prettier, lint-via-make, go-test-via-make

feat: align protocol and permit statuses with entity model
  internal/ci/datasetapi.snapshot
  internal/ci/pluginapi.snapshot
  internal/core/dataset_facade_mapper.go
  internal/core/dataset_store_adapter_test.go
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_test.go
  internal/core/service_test.go
  internal/infra/persistence/memory/state_additional_test.go
  internal/infra/persistence/memory/store_crud_test.go
  internal/infra/persistence/memory/store_helpers_test.go
  internal/infra/persistence/sqlite/memstore_full_test.go
  internal/infra/persistence/sqlite/memstore_test.go
  internal/integration/contextual_pattern_enforcement_test.go
  internal/integration/relationship_test.go
  internal/validation/plugin_patterns.go
  pkg/datasetapi/context_additional_test.go
  pkg/datasetapi/context_marker_test.go
  pkg/datasetapi/coverage_test.go
  pkg/datasetapi/facade.go
  pkg/datasetapi/facade_accessors_extra_test.go
  pkg/datasetapi/facade_contextual_test.go
  pkg/datasetapi/facade_test.go
  pkg/datasetapi/housing_protocol_procedure_context_test.go
  pkg/datasetapi/permit_context.go
  pkg/datasetapi/protocol_context.go
  pkg/domain/entities.go
  pkg/pluginapi/context_additional_test.go
  pkg/pluginapi/context_marker_test.go
  pkg/pluginapi/coverage_test.go
  pkg/pluginapi/housing_protocol_context_test.go
  pkg/pluginapi/permit_context.go
  pkg/pluginapi/protocol_context.go
Due: lint-via-make, go-test-via-make

chore: enforce entity model relationships and invariants
  docs/schema/entity-model.json
  internal/tools/entitymodel/validate/main.go
  internal/tools/entitymodel/validate/main_test.go
Due: prettier, lint-via-make, go-test-via-make

chore: define natural keys in entity model
  docs/schema/entity-model.json
Due: prettier

chore: Cleanup duplicate natural_keys from json schema
  docs/schema/entity-model.json
Due: prettier

feat: add housing lifecycle typing to domain
  internal/core/dataset_facade_mapper.go
  internal/core/dataset_store_adapter_test.go
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_test.go
  pkg/domain/entities.go
  pkg/domain/housing_test.go
  plugins/testhelper/dataset.go
Due: lint-via-make, go-test-via-make

feat: broaden entity model invariants and validation
  docs/annex/plugin-contract.md
  docs/schema/entity-model.json
  internal/tools/entitymodel/validate/main.go
  internal/tools/entitymodel/validate/main_test.go
Due: prettier, lint-via-make, go-test-via-make

feat: add entity model generator
  .golangci.yml
  Makefile
  docs/schema/README.md
  internal/tools/entitymodel/generate/main.go
  internal/tools/entitymodel/generate/main_test.go
  pkg/domain/entitymodel/model_gen.go
Due: prettier, lint-via-make, go-test-via-make

feat: generate entity model openapi schema
  Makefile
  docs/schema/README.md
  docs/schema/openapi/entity-model.yaml
  internal/tools/entitymodel/generate/main.go
  internal/tools/entitymodel/generate/main_test.go
  internal/tools/entitymodel/generate/openapi.go
Due: prettier, lint-via-make, go-test-via-make

feat: expose housing lifecycle contexts across plugin and dataset APIs
  docs/schema/openapi/entity-model.yaml
  internal/ci/datasetapi.snapshot
  internal/ci/pluginapi.snapshot
  internal/core/dataset_clone_test.go
  internal/core/dataset_facade_mapper.go
  internal/core/dataset_facade_mapper_test.go
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_test.go
  internal/core/test_helpers_test.go
  internal/integration/contextual_pattern_enforcement_test.go
  internal/tools/entitymodel/generate/openapi.go
  pkg/datasetapi/context_marker_test.go
  pkg/datasetapi/coverage_test.go
  pkg/datasetapi/facade.go
  pkg/datasetapi/facade_contextual_test.go
  pkg/datasetapi/facade_test.go
  pkg/datasetapi/housing_state_context.go
  pkg/domain/entities.go
  pkg/pluginapi/context_marker_test.go
  pkg/pluginapi/contextual_accessor_enforcement_test.go
  pkg/pluginapi/coverage_test.go
  pkg/pluginapi/housing_protocol_context_test.go
  pkg/pluginapi/housing_state_context.go
  pkg/pluginapi/views.go
  plugins/frog/plugin_rule_test.go
Due: prettier, lint-via-make, go-test-via-make

feat: generate sql ddl from entity model
  Makefile
  docs/schema/sql/postgres.sql
  docs/schema/sql/sqlite.sql
  internal/tools/entitymodel/generate/main.go
  internal/tools/entitymodel/generate/main_test.go
  internal/tools/entitymodel/generate/sql.go
Due: lint-via-make, go-test-via-make

feat: Introduce entity-model SQL generation and ERD
  Makefile
  TODO.md
  docs/adr/0003-core-domain-schema.md
  docs/annex/entity-model-erd.dot
  docs/annex/entity-model-erd.svg
  docs/schema/sql/postgres.sql
  docs/schema/sql/sqlite.sql
  internal/tools/entitymodel/generate/main.go
  internal/tools/entitymodel/generate/main_test.go
  internal/tools/entitymodel/generate/sql.go
  internal/tools/entitymodel/generate/sql_test.go
  internal/tools/entitymodel/validate/main.go
  internal/tools/entitymodel/validate/main_test.go
Due: prettier, lint-via-make, go-test-via-make

fix: enforce entity state enums in persistence stores
  internal/core/service_test.go
  internal/core/store_crud_test.go
  internal/infra/persistence/memory/state_additional_test.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/memory/store_crud_test.go
  internal/infra/persistence/memory/store_helpers_test.go
  internal/infra/persistence/sqlite/memstore.go
  internal/infra/persistence/sqlite/memstore_full_test.go
  internal/infra/persistence/sqlite/memstore_test.go
  internal/integration/relationship_test.go
Due: lint-via-make, go-test-via-make

feat: persist observation extensions in snapshots
  internal/infra/persistence/memory/state_additional_test.go
  pkg/domain/entities.go
  pkg/domain/entities_json_test.go
Due: lint-via-make, go-test-via-make

test: cover memory store extension containers
  TODO.md
  internal/infra/persistence/memory/state_additional_test.go
Due: prettier, lint-via-make, go-test-via-make

chore: normalize memory store extension handling
  TODO.md
  internal/infra/persistence/memory/state_additional_test.go
  internal/infra/persistence/memory/store.go
Due: prettier, lint-via-make, go-test-via-make

feat: extend persistence for lineage entities
  TODO.md
  internal/core/dataset_store_adapter_test.go
  internal/core/service_test.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/memory/store_full_coverage_test.go
  internal/infra/persistence/memory/store_helpers_test.go
  internal/infra/persistence/memory/store_line_strain_guards_test.go
  internal/infra/persistence/memory/store_line_strain_test.go
  internal/infra/persistence/sqlite/memstore.go
  internal/infra/persistence/sqlite/memstore_full_coverage_test.go
  internal/infra/persistence/sqlite/memstore_guard_coverage_test.go
  internal/infra/persistence/sqlite/memstore_line_strain_test.go
  internal/infra/persistence/sqlite/memstore_test.go
  internal/infra/persistence/sqlite/store.go
  internal/infra/persistence/sqlite/store_additional_test.go
  pkg/domain/persistence.go
Due: prettier, lint-via-make, go-test-via-make

chore: persist extension containers across domain entities
  TODO.md
  pkg/domain/entities.go
  pkg/domain/entities_json_test.go
Due: prettier, lint-via-make, go-test-via-make

chore: mark facility housing relationship derived
  TODO.md
  docs/schema/entity-model.json
Due: prettier

chore: enforce required entity relationships in schema
  TODO.md
  docs/schema/entity-model.json
Due: prettier

chore: enforce required relationship arrays in memory and sqlite stores
  TODO.md
  internal/adapters/datasets/coverage_additions_test.go
  internal/adapters/datasets/exporter_test.go
  internal/core/service_logger_additional_test.go
  internal/core/service_observability_test.go
  internal/core/service_options_additional_test.go
  internal/core/service_test.go
  internal/core/store_crud_test.go
  internal/infra/persistence/memory/state_additional_test.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/memory/store_additional_coverage_test.go
  internal/infra/persistence/memory/store_crud_test.go
  internal/infra/persistence/memory/store_full_coverage_test.go
  internal/infra/persistence/memory/store_line_strain_guards_test.go
  internal/infra/persistence/memory/store_required_arrays_test.go
  internal/infra/persistence/sqlite/memstore.go
  internal/infra/persistence/sqlite/memstore_full_coverage_test.go
  internal/infra/persistence/sqlite/memstore_full_test.go
  internal/infra/persistence/sqlite/memstore_guard_coverage_test.go
  internal/infra/persistence/sqlite/memstore_required_arrays_test.go
  internal/infra/persistence/sqlite/memstore_test.go
  internal/infra/persistence/sqlite/store_additional_test.go
  internal/integration/relationship_test.go
Due: prettier, lint-via-make, go-test-via-make

chore: Force deterministic ERD generation
  Makefile
  docs/annex/entity-model-erd.dot
  docs/annex/entity-model-erd.svg
Due: none

chore: Verify CI Docker existence
  .github/workflows/ci.yaml
Due: prettier
