Repository colonystack/colonycore: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, openapi-validate, lint-via-make, go-test-via-make

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.7.0"
default_stages:
  - pre-commit
  - pre-push
  - manual

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer
        exclude: .*(\.md|\.MD)$
      - id: trailing-whitespace
        exclude: .*(\.md|\.MD)$
      - id: check-yaml

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: prettier
        name: prettier (js/ts/json/yaml/md)
        language: system
        entry: pnpm
        args:
          - dlx
          - prettier@3.3.3
          - --ignore-unknown
        types_or:
          - javascript
          - ts
          - json
          - yaml
          - markdown
      - id: go-mod-tidy
        name: go mod tidy
        language: system
        entry: scripts/check-go-mod-tidy.sh
        pass_filenames: false
      - id: openapi-validate
        name: dataset openapi lint
        language: python
        entry: python
        args:
          - scripts/check_openapi.py
        additional_dependencies:
          - openapi-spec-validator==0.7.1
        files: ^docs/schema/dataset-service.openapi.yaml$
      - id: lint-via-make
        name: lint via make lint
        entry: make lint
        language: system
        pass_filenames: false
        files: '(^clients/python/.*\.py$|\.go$)'
      - id: go-test-via-make
        name: go test via make test
        entry: make test
        language: system
        pass_filenames: false
        files: '\.go$'

fix: Dead documentation ref
  docs/rfc/0001-colonycore-base-module.md
Due: prettier

feat: Implement missing `RFC-0001` core entities (#77)
  .golangci.yml
  docs/rfc/0001-colonycore-base-module.md
  internal/core/observability_exporters.go
  internal/core/service.go
  internal/core/service_logger_extra_test.go
  internal/core/service_observability_test.go
  internal/integration/smoke_test.go
Due: prettier, lint-via-make, go-test-via-make

feat: Demand conciseness in `CONTRIBUTING.md`
  CONTRIBUTING.md
Due: prettier

feat: Demand conciseness in `CONTRIBUTING.md` (#78)
  CONTRIBUTING.md
Due: prettier

feat: Add `AGENTS.md` AI guidance to repo root
  CODEOWNERS
  CONTRIBUTING.md
  README.md
Due: prettier

fix: Pre-Commit md cleanup
  AGENTS.md
Due: prettier

feat(doc): Introduce `AGENTS.md` AI guidance (#79)
  AGENTS.md
  CODEOWNERS
  CONTRIBUTING.md
  README.md
Due: prettier

fix: Add required agent checkbox in PR template
  .github/pull_request_template.md
Due: prettier

fix: Add required agent checkbox in PR template (#80)
  .github/pull_request_template.md
Due: prettier

docs: outline entity model v0 decision in ADR-0003
  docs/adr/0003-core-domain-schema.md
Due: prettier

docs: outline entity model v0 decision in ADR-0003 (#81)
  docs/adr/0003-core-domain-schema.md
Due: prettier

feat: expose lineage context on organisms and breeding units
  internal/ci/datasetapi.snapshot
  internal/ci/pluginapi.snapshot
  internal/core/dataset_facade_mapper.go
  internal/core/dataset_facade_mapper_test.go
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_test.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/sqlite/memstore.go
  pkg/datasetapi/facade.go
  pkg/datasetapi/facade_test.go
  pkg/domain/entities.go
  pkg/pluginapi/views.go
  plugins/frog/plugin_rule_test.go
  plugins/testhelper/dataset.go
  plugins/testhelper/dataset_test.go
Due: lint-via-make, go-test-via-make

feat: expose lineage context on organisms and breeding units (#82)
  internal/ci/datasetapi.snapshot
  internal/ci/pluginapi.snapshot
  internal/core/dataset_facade_mapper.go
  internal/core/dataset_facade_mapper_test.go
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_test.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/sqlite/memstore.go
  pkg/datasetapi/facade.go
  pkg/datasetapi/facade_test.go
  pkg/domain/entities.go
  pkg/pluginapi/views.go
  plugins/frog/plugin_rule_test.go
  plugins/testhelper/dataset.go
  plugins/testhelper/dataset_test.go
Due: lint-via-make, go-test-via-make

feat(datasetapi): expose procedure and project relationships
  internal/ci/datasetapi.snapshot
  internal/core/dataset_facade_mapper.go
  internal/core/dataset_facade_mapper_test.go
  pkg/datasetapi/facade.go
  pkg/datasetapi/facade_test.go
  pkg/domain/entities.go
Due: lint-via-make, go-test-via-make

feat(datasetapi): expose procedure and project relationships (#83)
  internal/ci/datasetapi.snapshot
  internal/core/dataset_facade_mapper.go
  internal/core/dataset_facade_mapper_test.go
  pkg/datasetapi/facade.go
  pkg/datasetapi/facade_test.go
  pkg/domain/entities.go
Due: lint-via-make, go-test-via-make

refactor(persistence): derive mirrored collections from authoritative refs
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/sqlite/memstore.go
Due: lint-via-make, go-test-via-make

refactor(persistence): Derive mirrored collections from authoritative refs (#84)
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/sqlite/memstore.go
Due: lint-via-make, go-test-via-make

feat(domain): expose facility natural key to datasets and plugins
  internal/ci/datasetapi.snapshot
  internal/ci/pluginapi.snapshot
  internal/core/dataset_facade_mapper.go
  internal/core/dataset_store_adapter_test.go
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_test.go
  pkg/datasetapi/facade.go
  pkg/datasetapi/facade_test.go
  pkg/domain/entities.go
  pkg/pluginapi/views.go
Due: lint-via-make, go-test-via-make

feat(domain): expose facility natural key to datasets and plugins (#85)
  internal/ci/datasetapi.snapshot
  internal/ci/pluginapi.snapshot
  internal/core/dataset_facade_mapper.go
  internal/core/dataset_store_adapter_test.go
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_test.go
  pkg/datasetapi/facade.go
  pkg/datasetapi/facade_test.go
  pkg/domain/entities.go
  pkg/pluginapi/views.go
Due: lint-via-make, go-test-via-make

feat(domain): type workflow statuses and optional text fields
  internal/core/dataset_facade_mapper.go
  internal/core/dataset_facade_mapper_test.go
  internal/core/dataset_store_adapter_test.go
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_coverage_test.go
  internal/core/plugin_rule_adapter_test.go
  internal/core/service_observability_test.go
  internal/core/service_test.go
  internal/core/store_crud_test.go
  internal/infra/persistence/memory/state_additional_test.go
  internal/infra/persistence/memory/store_crud_test.go
  internal/infra/persistence/sqlite/memstore_full_test.go
  internal/infra/persistence/sqlite/memstore_test.go
  internal/integration/relationship_test.go
  pkg/datasetapi/facade.go
  pkg/datasetapi/facade_accessors_extra_test.go
  pkg/datasetapi/facade_contextual_test.go
  pkg/datasetapi/facade_test.go
  pkg/domain/entities.go
Due: lint-via-make, go-test-via-make

feat(extension): add plugin hook container and test helpers
  .golangci.yml
  ARCHITECTURE.md
  CONTRIBUTING.md
  Makefile
  docs/annex/0003-import-boss-runbook.md
  internal/adapters/datasets/.import-restrictions
  internal/adapters/datasets/coverage_additions_test.go
  internal/adapters/datasets/exporter_test.go
  internal/adapters/datasets/handler_test.go
  internal/adapters/datasets/import_guard_test.go
  internal/adapters/datasets/run_and_export_test.go
  internal/adapters/testutil/.import-restrictions
  internal/adapters/testutil/plugins.go
  pkg/extension/.import-restrictions
  pkg/extension/container.go
  pkg/extension/container_test.go
  plugins/frog/.import-restrictions
  plugins/testhelper/.import-restrictions
Due: prettier, lint-via-make, go-test-via-make

feat(extension): document extension hook catalog and metadata profiles
  pkg/extension/container.go
  pkg/extension/container_test.go
Due: lint-via-make, go-test-via-make

refactor(domain): move extension container into domain layer
  docs/annex/0003-import-boss-runbook.md
  pkg/domain/extension/.import-restrictions
  pkg/domain/extension/container.go
  pkg/domain/extension/container_test.go
  pkg/extension/.import-restrictions
Due: prettier, lint-via-make, go-test-via-make

feat(domain): model lineage extensions
  pkg/domain/entities.go
  pkg/domain/extension/container_additional_test.go
  pkg/domain/extension/slot.go
  pkg/domain/extension/slot_test.go
  pkg/domain/extension_slots.go
Due: lint-via-make, go-test-via-make

feat(domain): add extension map helper methods
  pkg/domain/extension/container.go
  pkg/domain/extension/container_additional_test.go
  pkg/domain/extension/container_test.go
  pkg/domain/extension/slot_test.go
  pkg/domain/extension_slots.go
  pkg/domain/extension_slots_helpers.go
  pkg/domain/extension_slots_test.go
Due: lint-via-make, go-test-via-make

refactor: route core and persistence through extension helpers
  internal/core/dataset_facade_mapper.go
  internal/core/dataset_facade_mapper_test.go
  internal/core/dataset_store_adapter_test.go
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_deepcopy_test.go
  internal/core/plugin_rule_adapter_test.go
  internal/core/store_crud_test.go
  internal/infra/persistence/memory/state_additional_test.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/memory/store_crud_test.go
  internal/infra/persistence/sqlite/memstore.go
  internal/infra/persistence/sqlite/memstore_full_test.go
Due: lint-via-make, go-test-via-make

refactor: bridge entity attribute maps through extension slots
  internal/core/plugin_rule_adapter_test.go
  internal/core/service_test.go
  internal/core/store_crud_test.go
  internal/infra/persistence/memory/state_additional_test.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/memory/store_crud_test.go
  internal/infra/persistence/sqlite/memstore.go
  pkg/domain/extension_slot_bridge.go
  pkg/domain/extension_slot_bridge_test.go
  pkg/domain/extension_slots_test.go
  plugins/testhelper/dataset.go
Due: lint-via-make, go-test-via-make

refactor(core): flatten extension slots
  internal/core/dataset_facade_mapper.go
  scripts/validate_plugin_patterns.go
  scripts/validate_plugin_patterns_test.go
Due: lint-via-make, go-test-via-make

feat(domain): enforce extension hook payload shapes
  pkg/domain/extension/container.go
  pkg/domain/extension/container_test.go
  pkg/domain/extension/slot.go
  pkg/domain/extension/slot_test.go
  pkg/domain/extension_slots_test.go
  scripts/validate_plugin_patterns.go
Due: lint-via-make, go-test-via-make

feat(domain): cache extension slots alongside legacy maps
  pkg/domain/entities.go
  pkg/domain/extension_slot_bridge.go
  pkg/domain/extension_slots.go
  pkg/domain/extension_slots_test.go
Due: lint-via-make, go-test-via-make

feat(domain): introduce extension containers for core entity slots
  pkg/domain/entities.go
  pkg/domain/extension_containers.go
  pkg/domain/extension_slot_bridge.go
  pkg/domain/extension_slot_bridge_test.go
  pkg/domain/extension_slots.go
  pkg/domain/extension_slots_test.go
Due: lint-via-make, go-test-via-make

refactor(core): hydrate plugin views from extension slots
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_deepcopy_test.go
Due: lint-via-make, go-test-via-make

refactor: introduce typed extension system for domain entities
  internal/core/dataset_facade_mapper_test.go
  internal/core/plugin_rule_adapter_coverage_test.go
  internal/core/service_observability_test.go
  internal/core/service_test.go
  internal/infra/persistence/memory/store_crud_test.go
  internal/integration/relationship_test.go
  pkg/domain/entities.go
  pkg/domain/extension_containers.go
  pkg/domain/extension_slot_bridge.go
  pkg/domain/extension_slot_bridge_test.go
  pkg/domain/extension_slots.go
  pkg/domain/extension_slots_test.go
Due: lint-via-make, go-test-via-make

feat: Improve test coverage in internal, pkg, scripts and testutil
  internal/adapters/testutil/plugins_test.go
  pkg/datasetapi/coverage_test.go
  pkg/domain/entities_json_test.go
  pkg/domain/extension/container_additional_test.go
  pkg/domain/extension_containers_test.go
  pkg/domain/extension_slots_coverage_test.go
  scripts/validate_plugin_patterns.go
  scripts/validate_plugin_patterns_test.go
  testutil/guard_coverage_test.go
Due: lint-via-make, go-test-via-make

refactor: route core adapters through typed extension helpers
  internal/core/dataset_facade_mapper.go
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_deepcopy_test.go
  pkg/domain/entities.go
  pkg/domain/entities_json_test.go
  pkg/domain/extension_accessors.go
  pkg/domain/extension_accessors_test.go
  pkg/domain/extension_slots.go
  pkg/domain/extension_slots_coverage_test.go
Due: lint-via-make, go-test-via-make

feat(extensions): add typed container for plugin payloads
  cmd/registry-check/main_test.go
  internal/adapters/datasets/handler_run_additional_test.go
  internal/ci/datasetapi.snapshot
  internal/ci/pluginapi.snapshot
  internal/core/dataset_facade_mapper.go
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_deepcopy_test.go
  internal/core/plugin_rule_adapter_test.go
  internal/core/service_audit_test.go
  internal/infra/blob/fs/store_additional_test.go
  internal/infra/persistence/sqlite/store_additional_test.go
  pkg/datasetapi/coverage_test.go
  pkg/datasetapi/deepclone_edges_test.go
  pkg/datasetapi/deepclone_simple_test.go
  pkg/datasetapi/deepclone_test.go
  pkg/datasetapi/extension_context.go
  pkg/datasetapi/extension_context_test.go
  pkg/datasetapi/extensions.go
  pkg/datasetapi/extensions_test.go
  pkg/datasetapi/facade.go
  pkg/datasetapi/facade_accessors_extra_test.go
  pkg/datasetapi/facade_test.go
  pkg/datasetapi/test_helpers_test.go
  pkg/pluginapi/extension_context.go
  pkg/pluginapi/extension_context_test.go
  pkg/pluginapi/extensions.go
  pkg/pluginapi/extensions_test.go
  pkg/pluginapi/views.go
  plugins/frog/plugin_rule_test.go
  plugins/testhelper/dataset.go
  scripts/validate_plugin_patterns_test.go
  testutil/guard.go
  testutil/guard_test.go
Due: lint-via-make, go-test-via-make

feat(domain): move lineage entities to container-backed extension model
  pkg/domain/entities.go
  pkg/domain/entities_json_test.go
  pkg/domain/extension/container.go
  pkg/domain/extension/container_test.go
  pkg/domain/extension/spec_guard_test.go
  pkg/domain/extension_accessors.go
  pkg/domain/extension_accessors_test.go
  pkg/domain/extension_containers.go
  pkg/domain/extension_containers_test.go
  pkg/domain/extension_slot_bridge.go
  pkg/domain/extension_slots.go
  pkg/domain/extension_slots_helpers.go
  pkg/domain/extension_slots_test.go
Due: lint-via-make, go-test-via-make

feat(domain): add line extension helpers for plugin payloads
  pkg/domain/entities.go
  pkg/domain/extension_accessors.go
  pkg/domain/extension_accessors_test.go
  pkg/domain/extension_slots_helpers.go
  pkg/domain/extension_slots_helpers_test.go
Due: lint-via-make, go-test-via-make

refactor: use extension accessors in persistence layers
  internal/core/dataset_facade_mapper_test.go
  internal/core/dataset_store_adapter_test.go
  internal/core/plugin_rule_adapter_deepcopy_test.go
  internal/core/plugin_rule_adapter_test.go
  internal/core/service_test.go
  internal/core/store_crud_test.go
  internal/infra/persistence/memory/state_additional_test.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/memory/store_crud_test.go
  internal/infra/persistence/memory/store_helpers_test.go
  internal/infra/persistence/sqlite/memstore.go
  internal/infra/persistence/sqlite/memstore_full_test.go
  plugins/testhelper/dataset.go
Due: lint-via-make, go-test-via-make

refactor(domain): wrap extension payloads in typed helpers
  pkg/domain/extension/container_test.go
  pkg/domain/extension/object_payload.go
  pkg/domain/extension/object_payload_test.go
  pkg/domain/extension/slot.go
  pkg/domain/extension_accessors.go
  pkg/domain/extension_accessors_test.go
Due: lint-via-make, go-test-via-make
