Repository colonystack/colonycore: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, openapi-validate, lint-via-make, go-test-via-make

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.7.0"
default_stages:
  - pre-commit
  - pre-push
  - manual

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer
        exclude: .*(\.md|\.MD)$
      - id: trailing-whitespace
        exclude: .*(\.md|\.MD)$
      - id: check-yaml

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: prettier
        name: prettier (js/ts/json/yaml/md)
        language: system
        entry: pnpm
        args:
          - dlx
          - prettier@3.3.3
          - --ignore-unknown
        types_or:
          - javascript
          - ts
          - json
          - yaml
          - markdown
      - id: go-mod-tidy
        name: go mod tidy
        language: system
        entry: scripts/check-go-mod-tidy.sh
        pass_filenames: false
      - id: openapi-validate
        name: dataset openapi lint
        language: python
        entry: python
        args:
          - scripts/check_openapi.py
        additional_dependencies:
          - openapi-spec-validator==0.7.1
        files: ^docs/schema/dataset-service.openapi.yaml$
      - id: lint-via-make
        name: lint via make lint
        entry: make lint
        language: system
        pass_filenames: false
        files: '(^clients/python/.*\.py$|\.go$)'
      - id: go-test-via-make
        name: go test via make test
        entry: make test
        language: system
        pass_filenames: false
        files: '\.go$'

feat: Consolidate tasks from precommit into make (#35)
  .pre-commit-config.yaml
Due: prettier

chore: align client lint configs with make flow
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  Makefile
  clients/R/.lintr
  clients/R/LINTING.md
  clients/python/LINTING.md
  clients/python/requirements-lint.txt
  clients/python/ruff.toml
  pyproject.toml
  scripts/run_lintr.py
Due: prettier

fix: lintr and ruff config and scripts
  CONTRIBUTING.md
  Makefile
  clients/R/.lintr
  clients/python/LINTING.md
  pyproject.toml
  scripts/run_lintr.py
Due: prettier

chore: align client lint configs with make flow (#37)
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  Makefile
  clients/R/.lintr
  clients/R/LINTING.md
  clients/python/LINTING.md
  clients/python/requirements-lint.txt
  clients/python/ruff.toml
  pyproject.toml
  scripts/run_lintr.py
Due: prettier

fix: Remove redundancies from CI
  .github/workflows/ci.yaml
  Makefile
Due: prettier

fix: Remove pre-commit unwanted SKIP
  .github/workflows/ci.yaml
Due: prettier

fix: Remove redundancies from CI (#38)
  .github/workflows/ci.yaml
  Makefile
Due: prettier

feat: Reallocate pre-commit cache to CI cache
  .github/workflows/ci.yaml
Due: prettier

feat: Reallocate pre-commit cache to CI cache (#39)
  .github/workflows/ci.yaml
Due: prettier

feat: Install CI APT with provider & cache
  .github/workflows/ci.yaml
Due: prettier

fix: Pin provider version
  .github/workflows/ci.yaml
Due: prettier

feat: Install CI APT with provider & cache (#40)
  .github/workflows/ci.yaml
Due: prettier

fix: Install golangci-lint with official practice
  Makefile
Due: none

fix: lintr issues
  Makefile
  scripts/run_lintr.py
Due: none

fix: Install golangci-lint with official practice (#42)
  Makefile
  scripts/run_lintr.py
Due: none

fix: Tidy dependencies
  go.mod
  go.sum
Due: none

feat(domain): Introduce `pkg/domain` package
  internal/core/rule_housing_capacity.go
  internal/core/rule_protocol_subject_cap.go
  internal/core/rules.go
  internal/core/store_crud_test.go
  internal/core/types.go
  internal/dataset/exporter_test.go
  internal/dataset/handler_test.go
  internal/integration/smoke_test.go
  plugins/frog/plugin.go
  plugins/frog/plugin_test.go
Due: lint-via-make, go-test-via-make

fix: Append missing commit files
  pkg/domain/entities.go
  pkg/domain/result_test.go
  pkg/domain/rules.go
Due: lint-via-make, go-test-via-make

feat(domain): Introduce `pkg/domain` package (#46)
  internal/core/rule_housing_capacity.go
  internal/core/rule_protocol_subject_cap.go
  internal/core/rules.go
  internal/core/store_crud_test.go
  internal/core/types.go
  internal/dataset/exporter_test.go
  internal/dataset/handler_test.go
  internal/integration/smoke_test.go
  pkg/domain/entities.go
  pkg/domain/result_test.go
  pkg/domain/rules.go
  plugins/frog/plugin.go
  plugins/frog/plugin_test.go
Due: lint-via-make, go-test-via-make

feat(internal/persistence): Introduce persistence
  internal/core/housing_extra_test.go
  internal/core/more_core_test.go
  internal/core/organism_extra_test.go
  internal/core/plugin_registry_test.go
  internal/core/postgres_store.go
  internal/core/service.go
  internal/core/sqlite_store.go
  internal/core/sqlite_store_extra_test.go
  internal/core/sqlite_store_test.go
  internal/core/storage.go
  internal/core/storage_test.go
  internal/core/store.go
  internal/core/store_crud_test.go
  pkg/domain/result_test.go
Due: lint-via-make, go-test-via-make

fix: Append uncommitted files
  internal/infra/persistence/memory/deps_test.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/memory/store_crud_test.go
  internal/infra/persistence/memory/store_test.go
  internal/persistence/sqlite/deps_test.go
  internal/persistence/sqlite/memstore.go
  internal/persistence/sqlite/memstore_test.go
  internal/persistence/sqlite/store.go
  internal/persistence/sqlite/store_test.go
  pkg/domain/persistence.go
Due: lint-via-make, go-test-via-make

feat(internal/persistence): Introduce persistence (#47)
  internal/core/housing_extra_test.go
  internal/core/more_core_test.go
  internal/core/organism_extra_test.go
  internal/core/plugin_registry_test.go
  internal/core/postgres_store.go
  internal/core/service.go
  internal/core/sqlite_store.go
  internal/core/sqlite_store_extra_test.go
  internal/core/sqlite_store_test.go
  internal/core/storage.go
  internal/core/storage_test.go
  internal/core/store.go
  internal/infra/persistence/memory/deps_test.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/memory/store_crud_test.go
  internal/infra/persistence/memory/store_test.go
  internal/persistence/sqlite/deps_test.go
  internal/persistence/sqlite/memstore.go
  internal/persistence/sqlite/memstore_test.go
  internal/persistence/sqlite/store.go
  internal/persistence/sqlite/store_test.go
  pkg/domain/persistence.go
  pkg/domain/result_test.go
Due: lint-via-make, go-test-via-make

feat(core): Refactor service layer
  internal/core/service.go
  internal/core/service_test.go
Due: lint-via-make, go-test-via-make

feat(core): Refactor service layer (#48)
  internal/core/service.go
  internal/core/service_test.go
Due: lint-via-make, go-test-via-make

feat(pkg): Refactor plugins & dataset API
  internal/core/dataset_adapter.go
  internal/core/dataset_adapter_test.go
  internal/core/plugin.go
  internal/core/plugin_registry_extra_test.go
  internal/core/plugin_registry_test.go
  internal/core/service_test.go
  internal/dataset/exporter_internal_test.go
  internal/dataset/handler_internal_test.go
  pkg/datasetapi/types.go
  pkg/pluginapi/plugin.go
  plugins/frog/plugin.go
Due: lint-via-make, go-test-via-make

feat(pkg): Refactor plugins & dataset API (#49)
  internal/core/dataset_adapter.go
  internal/core/dataset_adapter_test.go
  internal/core/plugin.go
  internal/core/plugin_registry_extra_test.go
  internal/core/plugin_registry_test.go
  internal/core/service_test.go
  internal/dataset/exporter_internal_test.go
  internal/dataset/handler_internal_test.go
  pkg/datasetapi/types.go
  pkg/pluginapi/plugin.go
  plugins/frog/plugin.go
Due: lint-via-make, go-test-via-make

fix: Remove `time.now()` from codebase
  internal/core/service.go
Due: lint-via-make, go-test-via-make

fix: Remove `time.now()` from codebase (#50)
  internal/core/service.go
Due: lint-via-make, go-test-via-make

feat(internal/adapters): Relocate dataset handler
  README.md
  docs/adr/0008-object-storage-contract.md
  internal/adapters/datasets/exporter.go
  internal/adapters/datasets/exporter_internal_test.go
  internal/adapters/datasets/exporter_materialize_test.go
  internal/adapters/datasets/exporter_test.go
  internal/adapters/datasets/handler.go
  internal/adapters/datasets/handler_internal_test.go
  internal/adapters/datasets/handler_test.go
  internal/adapters/datasets/objectstore_test.go
Due: prettier, lint-via-make, go-test-via-make

feat(internal/adapters): Relocate dataset handler (#51)
  README.md
  docs/adr/0008-object-storage-contract.md
  internal/adapters/datasets/exporter.go
  internal/adapters/datasets/exporter_internal_test.go
  internal/adapters/datasets/exporter_materialize_test.go
  internal/adapters/datasets/exporter_test.go
  internal/adapters/datasets/handler.go
  internal/adapters/datasets/handler_internal_test.go
  internal/adapters/datasets/handler_test.go
  internal/adapters/datasets/objectstore_test.go
Due: prettier, lint-via-make, go-test-via-make

feat(internal/blob): Refactor blob backend
  docs/storage.md
  internal/blob/core/types.go
  internal/blob/coverage_extra_test.go
  internal/blob/extra_test.go
  internal/blob/factory.go
  internal/blob/filesystem.go
  internal/blob/filesystem_more_test.go
  internal/blob/fs_test.go
  internal/blob/memory.go
  internal/blob/memory_test.go
  internal/blob/more_test.go
  internal/blob/s3.go
  internal/blob/s3_mockhelper_test.go
  internal/blob/types.go
  internal/infra/blob/fs/store.go
  internal/infra/blob/fs/store_test.go
  internal/infra/blob/memory/store.go
  internal/infra/blob/memory/store_test.go
  internal/infra/blob/s3/mock.go
  internal/infra/blob/s3/store.go
  internal/infra/blob/s3/store_test.go
  internal/integration/smoke_test.go
Due: prettier, lint-via-make, go-test-via-make

feat(internal/blob): Refactor blob backend (#52)
  docs/storage.md
  internal/blob/core/types.go
  internal/blob/coverage_extra_test.go
  internal/blob/extra_test.go
  internal/blob/factory.go
  internal/blob/filesystem.go
  internal/blob/filesystem_more_test.go
  internal/blob/fs_test.go
  internal/blob/memory.go
  internal/blob/memory_test.go
  internal/blob/more_test.go
  internal/blob/s3.go
  internal/blob/s3_mockhelper_test.go
  internal/blob/types.go
  internal/infra/blob/fs/store.go
  internal/infra/blob/fs/store_test.go
  internal/infra/blob/memory/store.go
  internal/infra/blob/memory/store_test.go
  internal/infra/blob/s3/mock.go
  internal/infra/blob/s3/store.go
  internal/infra/blob/s3/store_test.go
  internal/integration/smoke_test.go
Due: prettier, lint-via-make, go-test-via-make

refactor: Remove core store aliases
  internal/core/postgres_store.go
  internal/core/service.go
  internal/core/service_test.go
  internal/core/sqlite_store.go
  internal/core/storage.go
  internal/core/storage_test.go
  internal/core/store.go
  internal/infra/blob/fs/store.go
  internal/infra/blob/fs/store_test.go
  internal/infra/blob/memory/store.go
  internal/infra/blob/memory/store_test.go
  internal/infra/blob/s3/mock.go
  internal/infra/blob/s3/store.go
  internal/infra/blob/s3/store_test.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/memory/store_crud_test.go
  internal/infra/persistence/memory/store_test.go
  internal/integration/smoke_test.go
  internal/persistence/sqlite/memstore.go
  internal/persistence/sqlite/memstore_test.go
  internal/persistence/sqlite/store.go
  internal/persistence/sqlite/store_test.go
  pkg/datasetapi/types.go
  plugins/frog/plugin.go
  plugins/frog/plugin_test.go
Due: lint-via-make, go-test-via-make

refactor: Remove core store aliases (#53)
  internal/core/postgres_store.go
  internal/core/service.go
  internal/core/service_test.go
  internal/core/sqlite_store.go
  internal/core/storage.go
  internal/core/storage_test.go
  internal/core/store.go
  internal/infra/blob/fs/store.go
  internal/infra/blob/fs/store_test.go
  internal/infra/blob/memory/store.go
  internal/infra/blob/memory/store_test.go
  internal/infra/blob/s3/mock.go
  internal/infra/blob/s3/store.go
  internal/infra/blob/s3/store_test.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/memory/store_crud_test.go
  internal/infra/persistence/memory/store_test.go
  internal/integration/smoke_test.go
  internal/persistence/sqlite/memstore.go
  internal/persistence/sqlite/memstore_test.go
  internal/persistence/sqlite/store.go
  internal/persistence/sqlite/store_test.go
  pkg/datasetapi/types.go
  plugins/frog/plugin.go
  plugins/frog/plugin_test.go
Due: lint-via-make, go-test-via-make

refactor(storage): migrate sqlite to infra path
  README.md
  docs/adr/0007-storage-baseline.md
  internal/core/sqlite_store.go
  internal/core/storage.go
  internal/core/storage_test.go
  internal/infra/persistence/sqlite/deps_test.go
  internal/infra/persistence/sqlite/memstore.go
  internal/infra/persistence/sqlite/memstore_full_test.go
  internal/infra/persistence/sqlite/memstore_test.go
  internal/infra/persistence/sqlite/store.go
  internal/infra/persistence/sqlite/store_test.go
  internal/persistence/sqlite/memstore_test.go
  internal/persistence/sqlite/store_test.go
  pkg/domain/.import-restrictions
Due: prettier, lint-via-make, go-test-via-make
