Repository colonystack/colonycore: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, openapi-validate, lint-via-make, go-test-via-make

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.7.0"
default_stages:
  - pre-commit
  - pre-push
  - manual

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer
        exclude: .*(\.md|\.MD)$
      - id: trailing-whitespace
        exclude: .*(\.md|\.MD)$
      - id: check-yaml

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: prettier
        name: prettier (js/ts/json/yaml/md)
        language: system
        entry: pnpm
        args:
          - dlx
          - prettier@3.3.3
          - --ignore-unknown
        types_or:
          - javascript
          - ts
          - json
          - yaml
          - markdown
      - id: go-mod-tidy
        name: go mod tidy
        language: system
        entry: scripts/check-go-mod-tidy.sh
        pass_filenames: false
      - id: openapi-validate
        name: dataset openapi lint
        language: python
        entry: python
        args:
          - scripts/check_openapi.py
        additional_dependencies:
          - openapi-spec-validator==0.7.1
        files: ^docs/schema/dataset-service.openapi.yaml$
      - id: lint-via-make
        name: lint via make lint
        entry: make lint
        language: system
        pass_filenames: false
        files: '(^clients/python/.*\.py$|\.go$)'
      - id: go-test-via-make
        name: go test via make test
        entry: make test
        language: system
        pass_filenames: false
        files: '\.go$'

refactor(frog): Add import restrictions
  plugins/frog/plugin_extra_test.go
  plugins/frog/plugin_rule_skip_test.go
  plugins/frog/plugin_rule_test.go
Due: lint-via-make, go-test-via-make

fix: Add forgotten import restrictions
  plugins/frog/.import-restrictions
Due: none

feat(api): harden plugin and dataset APIs
  internal/adapters/datasets/exporter_id_test.go
  internal/adapters/datasets/handler_additional_test.go
  internal/adapters/datasets/handler_variants_test.go
  internal/adapters/datasets/materialize_additional_test.go
  internal/core/dataset_adapter.go
  internal/core/dataset_adapter_test.go
  internal/core/dataset_facade_mapper.go
  internal/core/dataset_facade_mapper_test.go
  internal/core/dataset_store_adapter.go
  internal/core/dataset_store_adapter_test.go
  internal/core/dataset_test.go
  internal/core/plugin.go
  internal/core/plugin_registry_test.go
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_test.go
  internal/core/service_test.go
  pkg/datasetapi/deepclone_simple_test.go
  pkg/datasetapi/deepclone_test.go
  pkg/datasetapi/domain_aliases.go
  pkg/datasetapi/facade.go
  pkg/datasetapi/facade_test.go
  pkg/datasetapi/types.go
  pkg/pluginapi/domain_aliases.go
  pkg/pluginapi/domain_aliases_deep_test.go
  pkg/pluginapi/domain_aliases_test.go
  pkg/pluginapi/plugin.go
  pkg/pluginapi/result_test.go
  pkg/pluginapi/rules.go
  pkg/pluginapi/views.go
  plugins/frog/.import-restrictions
  plugins/frog/plugin.go
  plugins/frog/plugin_binder_asof_skip_test.go
  plugins/frog/plugin_binder_metadata_test.go
  plugins/frog/plugin_rule_skip_test.go
  plugins/frog/plugin_rule_test.go
  plugins/frog/plugin_test.go
  plugins/testhelper/dataset.go
  plugins/testhelper/dataset_test.go
Due: lint-via-make, go-test-via-make

docs(adr,registry): add ADR-0009
  docs/adr/0002-versioning-and-deprecation.md
  docs/adr/0009-plugin-interface-stability-and-versioning.md
  docs/rfc/0001-colonycore-base-module.md
  docs/rfc/registry.yaml
  pkg/pluginapi/result_test.go
Due: prettier, lint-via-make, go-test-via-make

feat(core): deep clone attribute projections
  .golangci.yml
  cmd/registry-check/main_extra_test.go
  cmd/registry-check/main_full_lists_test.go
  go.mod
  go.sum
  internal/ci/pluginapi.snapshot
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_deepcopy_test.go
  pkg/datasetapi/.import-restrictions
  pkg/datasetapi/alias_guard_test.go
  pkg/datasetapi/deepclone_edges_test.go
  pkg/datasetapi/serialization_guard_test.go
  pkg/domain/architecture_test.go
  pkg/pluginapi/.import-restrictions
  pkg/pluginapi/alias_guard_test.go
  pkg/pluginapi/api_snapshot_extra_test.go
  pkg/pluginapi/api_snapshot_test.go
  pkg/pluginapi/exposure_architecture_test.go
  pkg/pluginapi/interface_contract_test.go
  plugins/architecture_test.go
  plugins/doc.go
  plugins/frog/api_contract_guard_test.go
  plugins/testhelper/dataset.go
  plugins/testhelper/dataset_deepclone_test.go
  plugins/testhelper/dataset_test.go
  testutil/guard.go
  testutil/guard_test.go
Due: prettier, lint-via-make, go-test-via-make

refactor: migrate core to domain types
  .golangci.yml
  internal/adapters/datasets/coverage_additions_test.go
  internal/adapters/datasets/exporter_test.go
  internal/blob/architecture_test.go
  internal/core/alias_guard_test.go
  internal/core/dataset.go
  internal/core/dataset_store_adapter.go
  internal/core/housing_extra_test.go
  internal/core/more_core_test.go
  internal/core/organism_extra_test.go
  internal/core/persistence_contract_test.go
  internal/core/plugin.go
  internal/core/plugin_registry_test.go
  internal/core/plugin_rule_adapter.go
  internal/core/postgres_store.go
  internal/core/rule_housing_capacity.go
  internal/core/rule_protocol_subject_cap.go
  internal/core/rules.go
  internal/core/rules_extra_test.go
  internal/core/service.go
  internal/core/service_contract_test.go
  internal/core/service_extra_test.go
  internal/core/service_logger_additional_test.go
  internal/core/service_options_additional_test.go
  internal/core/service_run_error_test.go
  internal/core/service_test.go
  internal/core/sqlite_store.go
  internal/core/sqlite_store_extra_test.go
  internal/core/sqlite_store_test.go
  internal/core/storage.go
  internal/core/storage_test.go
  internal/core/store.go
  internal/core/store_crud_test.go
  internal/core/types.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/sqlite/store.go
  internal/integration/smoke_test.go
  pkg/pluginapi/api_snapshot_test.go
Due: prettier, lint-via-make, go-test-via-make

feat: Migrate dataset runtime & validation
  docs/internal/dataset_migration.md
  internal/adapters/datasets/.import-restrictions
  internal/adapters/datasets/coverage_additions_test.go
  internal/adapters/datasets/exporter.go
  internal/adapters/datasets/exporter_id_test.go
  internal/adapters/datasets/exporter_stop_test.go
  internal/adapters/datasets/exporter_test.go
  internal/adapters/datasets/exporter_worker_test.go
  internal/adapters/datasets/handler.go
  internal/adapters/datasets/handler_export_errors_test.go
  internal/adapters/datasets/handler_extra_test.go
  internal/adapters/datasets/handler_run_errors_test.go
  internal/adapters/datasets/handler_template_errors_test.go
  internal/adapters/datasets/import_guard_test.go
  internal/adapters/datasets/materialize_additional_test.go
  internal/core/alias_guard_test.go
  internal/core/dataset.go
  internal/core/dataset_adapter.go
  internal/core/dataset_adapter_test.go
  internal/core/dataset_bind_test.go
  internal/core/dataset_params_test.go
  internal/core/dataset_test.go
  internal/core/dataset_testhelper.go
  internal/core/plugin.go
  internal/core/plugin_rule_adapter_test.go
  internal/core/service.go
  internal/core/service_contract_test.go
  internal/core/service_sort_test.go
  internal/core/service_test.go
  internal/infra/persistence/sqlite/memstore_test.go
  pkg/datasetapi/deepclone_test.go
  pkg/datasetapi/facade_test.go
  pkg/datasetapi/host_template.go
  pkg/datasetapi/host_template_test.go
  pkg/datasetapi/types.go
  plugins/testhelper/dataset_test.go
Due: prettier, lint-via-make, go-test-via-make

feat: Remove transitional aliases
  internal/core/plugin_registry_test.go
  internal/core/types.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/sqlite/memstore.go
Due: lint-via-make, go-test-via-make

feat(pluginapi): implement hexagonal architecture
  internal/ci/pluginapi.snapshot
  pkg/pluginapi/action_context.go
  pkg/pluginapi/contextual_interfaces_test.go
  pkg/pluginapi/domain_aliases.go
  pkg/pluginapi/entity_context.go
  pkg/pluginapi/example_contextual_test.go
  pkg/pluginapi/severity_context.go
Due: lint-via-make, go-test-via-make

feat: implement architecture hardening
  .golangci.yml
  pkg/pluginapi/.import-restrictions
  pkg/pluginapi/ARCHITECTURE_GUARDS.md
  pkg/pluginapi/architecture_ci_test.go
  pkg/pluginapi/architecture_guard_test.go
  pkg/pluginapi/plugin_antipattern_test.go
  plugins/frog/.import-restrictions
  plugins/frog/plugin.go
Due: prettier, lint-via-make, go-test-via-make

Fix: Cleanup deprecated comments
  pkg/pluginapi/architecture_guard_test.go
  pkg/pluginapi/plugin_antipattern_test.go
  plugins/frog/plugin.go
Due: lint-via-make, go-test-via-make

feat: implement pure interface-based plugin API
  .golangci.yml
  README.md
  docs/adr/0009-plugin-interface-stability-and-versioning.md
  internal/ci/pluginapi.snapshot
  internal/core/dataset_adapter_test.go
  internal/core/dataset_store_adapter_test.go
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_test.go
  pkg/datasetapi/facade.go
  pkg/datasetapi/facade_test.go
  pkg/datasetapi/lifecycle_context.go
  pkg/pluginapi/ARCHITECTURE_GUARDS.md
  pkg/pluginapi/action_context.go
  pkg/pluginapi/architecture_ci_test.go
  pkg/pluginapi/architecture_guard_test.go
  pkg/pluginapi/breaking_change_enforcement_test.go
  pkg/pluginapi/builder_test.go
  pkg/pluginapi/contextual_interfaces_test.go
  pkg/pluginapi/domain_aliases.go
  pkg/pluginapi/domain_aliases_deep_test.go
  pkg/pluginapi/domain_aliases_test.go
  pkg/pluginapi/entity_context.go
  pkg/pluginapi/example_contextual_test.go
  pkg/pluginapi/lifecycle_context.go
  pkg/pluginapi/plugin_antipattern_test.go
  pkg/pluginapi/result_test.go
  pkg/pluginapi/severity_context.go
  pkg/pluginapi/views.go
  plugins/frog/plugin.go
  plugins/frog/plugin_binder_asof_skip_test.go
  plugins/frog/plugin_binder_metadata_test.go
  plugins/frog/plugin_rule_skip_test.go
  plugins/frog/plugin_rule_test.go
  plugins/frog/plugin_test.go
  plugins/testhelper/dataset.go
  plugins/testhelper/dataset_deepclone_test.go
  plugins/testhelper/dataset_test.go
Due: prettier, lint-via-make, go-test-via-make

fix: Raise test coverage
  pkg/datasetapi/facade_test.go
  pkg/datasetapi/lifecycle_context_test.go
  pkg/pluginapi/contextual_interfaces_test.go
  pkg/pluginapi/lifecycle_context_test.go
Due: lint-via-make, go-test-via-make

feat: complete contextual accessor pattern for Cohort and BreedingUnit interfaces
  internal/ci/datasetapi.snapshot
  internal/integration/contextual_pattern_enforcement_test.go
  pkg/datasetapi/breeding_cohort_context_test.go
  pkg/datasetapi/breeding_context.go
  pkg/datasetapi/cohort_context.go
  pkg/datasetapi/contextual_accessor_enforcement_test.go
  pkg/datasetapi/facade.go
  pkg/datasetapi/facade_contextual_test.go
Due: lint-via-make, go-test-via-make

feat: complete hexagonal architecture refactor with contextual accessor patterns
  .golangci.yml
  Makefile
  internal/integration/contextual_pattern_enforcement_test.go
  plugins/frog/plugin.go
  scripts/validate_plugin_patterns.go
Due: prettier, lint-via-make, go-test-via-make

fix: Fix code coverage
  internal/validation/plugin_patterns.go
  internal/validation/plugin_patterns_test.go
  scripts/validate_plugin_patterns.go
Due: lint-via-make, go-test-via-make

refactor: drop dataset aliases
  ARCHITECTURE.md
  docs/adr/0009-plugin-interface-stability-and-versioning.md
  internal/adapters/datasets/coverage_additions_test.go
  internal/adapters/datasets/handler_export_errors_test.go
  internal/adapters/datasets/handler_extra_test.go
  internal/adapters/datasets/handler_run_errors_test.go
  internal/adapters/datasets/handler_template_errors_test.go
  internal/core/alias_guard_test.go
  internal/core/dataset.go
  internal/core/dataset_adapter_test.go
  internal/core/dataset_bind_test.go
  internal/core/dataset_test.go
  internal/core/dataset_testhelper.go
  internal/core/dataset_testhelper_test.go
  internal/core/plugin.go
  internal/core/service.go
  pkg/pluginapi/ARCHITECTURE_GUARDS.md
Due: prettier, lint-via-make, go-test-via-make

fix: Run gofmt
  internal/core/plugin_rule_adapter.go
  plugins/doc.go
Due: lint-via-make, go-test-via-make

fix: Import-boss setup fot CI
  Makefile
Due: none

Fix: Stable import-boss installation
  Makefile
Due: none

Fix: import-boss installation
  Makefile
Due: none

fix: import-boss
  Makefile
Due: none

fix: Extend entities with missing EntityTypes
  pkg/domain/entities.go
Due: lint-via-make, go-test-via-make

feat: add entities and standardize facility IDs
  internal/ci/datasetapi.snapshot
  internal/ci/pluginapi.snapshot
  internal/core/dataset_facade_mapper.go
  internal/core/dataset_facade_mapper_test.go
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_test.go
  internal/core/service_test.go
  internal/core/store_crud_test.go
  internal/infra/persistence/memory/state_additional_test.go
  internal/infra/persistence/memory/store_crud_test.go
  internal/infra/persistence/sqlite/memstore_full_test.go
  internal/integration/smoke_test.go
  pkg/datasetapi/facade.go
  pkg/datasetapi/facade_contextual_test.go
  pkg/datasetapi/facade_test.go
  pkg/domain/entities.go
  pkg/pluginapi/views.go
  plugins/frog/plugin_rule_test.go
  plugins/testhelper/dataset.go
  plugins/testhelper/dataset_test.go
Due: lint-via-make, go-test-via-make

Extend missing entities and structs (#67)
  internal/ci/datasetapi.snapshot
  internal/ci/pluginapi.snapshot
  internal/core/dataset_facade_mapper.go
  internal/core/dataset_facade_mapper_test.go
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_test.go
  internal/core/service_test.go
  internal/core/store_crud_test.go
  internal/infra/persistence/memory/state_additional_test.go
  internal/infra/persistence/memory/store_crud_test.go
  internal/infra/persistence/sqlite/memstore_full_test.go
  internal/integration/smoke_test.go
  pkg/datasetapi/facade.go
  pkg/datasetapi/facade_contextual_test.go
  pkg/datasetapi/facade_test.go
  pkg/domain/entities.go
  pkg/pluginapi/views.go
  plugins/frog/plugin_rule_test.go
  plugins/testhelper/dataset.go
  plugins/testhelper/dataset_test.go
Due: lint-via-make, go-test-via-make

feat: support new core entities in domain stores
  internal/core/dataset_store_adapter_test.go
  internal/core/service_test.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/memory/store_crud_test.go
  internal/infra/persistence/sqlite/memstore.go
  internal/infra/persistence/sqlite/memstore_full_test.go
  internal/infra/persistence/sqlite/memstore_test.go
  pkg/domain/persistence.go
Due: lint-via-make, go-test-via-make

feat: support new core entities in domain stores (#68)
  internal/core/dataset_store_adapter_test.go
  internal/core/service_test.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/memory/store_crud_test.go
  internal/infra/persistence/sqlite/memstore.go
  internal/infra/persistence/sqlite/memstore_full_test.go
  internal/infra/persistence/sqlite/memstore_test.go
  pkg/domain/persistence.go
Due: lint-via-make, go-test-via-make

feat(core): add CRUD for added core entities
  internal/core/service.go
  internal/core/service_test.go
  internal/infra/persistence/sqlite/memstore_full_test.go
  internal/infra/persistence/sqlite/store.go
Due: lint-via-make, go-test-via-make

feat(core): add CRUD for added core entities (#69)
  internal/core/service.go
  internal/core/service_test.go
  internal/infra/persistence/sqlite/memstore_full_test.go
  internal/infra/persistence/sqlite/store.go
Due: lint-via-make, go-test-via-make

feat: enforce facility-linked relationships
  internal/core/housing_extra_test.go
  internal/core/more_core_test.go
  internal/core/rules_extra_test.go
  internal/core/service.go
  internal/core/service_extra_test.go
  internal/core/service_test.go
  internal/core/store_crud_test.go
  internal/infra/persistence/memory/state_additional_test.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/memory/store_crud_test.go
  internal/infra/persistence/memory/store_test.go
  internal/infra/persistence/sqlite/memstore.go
  internal/infra/persistence/sqlite/memstore_full_test.go
  internal/infra/persistence/sqlite/memstore_test.go
  internal/integration/relationship_test.go
  internal/integration/smoke_test.go
  pkg/datasetapi/facade_accessors_extra_test.go
Due: lint-via-make, go-test-via-make

feat: enforce facility-linked relationships (#72)
  internal/core/housing_extra_test.go
  internal/core/more_core_test.go
  internal/core/rules_extra_test.go
  internal/core/service.go
  internal/core/service_extra_test.go
  internal/core/service_test.go
  internal/core/store_crud_test.go
  internal/infra/persistence/memory/state_additional_test.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/memory/store_crud_test.go
  internal/infra/persistence/memory/store_test.go
  internal/infra/persistence/sqlite/memstore.go
  internal/infra/persistence/sqlite/memstore_full_test.go
  internal/infra/persistence/sqlite/memstore_test.go
  internal/integration/relationship_test.go
  internal/integration/smoke_test.go
  pkg/datasetapi/facade_accessors_extra_test.go
Due: lint-via-make, go-test-via-make

doc: Update RFC status and architecture docs
  ARCHITECTURE.md
  README.md
  docs/adr/0007-storage-baseline.md
  docs/adr/0008-object-storage-contract.md
  docs/internal/dataset_migration.md
  docs/rfc/0001-colonycore-base-module.md
  docs/storage.md
Due: prettier

doc: Remove dead documentation reference
  ARCHITECTURE.md
Due: prettier

doc: Update RFC status and architecture docs (#73)
  ARCHITECTURE.md
  README.md
  docs/adr/0007-storage-baseline.md
  docs/adr/0008-object-storage-contract.md
  docs/internal/dataset_migration.md
  docs/rfc/0001-colonycore-base-module.md
  docs/storage.md
Due: prettier

feat: Add service hooks helpers and tests
  internal/core/service.go
  internal/core/service_logger_extra_test.go
  internal/core/service_observability_test.go
Due: lint-via-make, go-test-via-make

feat: Plug metrics/trace exporters
  .golangci.yml
  internal/core/observability_exporters.go
  internal/core/service_observability_test.go
  internal/integration/smoke_test.go
Due: prettier, lint-via-make, go-test-via-make
