Repository colonystack/colonycore: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, openapi-validate, lint-via-make, go-test-via-make

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.7.0"
default_stages:
  - pre-commit
  - pre-push
  - manual

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer
        exclude: .*(\.md|\.MD)$
      - id: trailing-whitespace
        exclude: .*(\.md|\.MD)$
      - id: check-yaml

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: prettier
        name: prettier (js/ts/json/yaml/md)
        language: system
        entry: pnpm
        args:
          - dlx
          - prettier@3.3.3
          - --ignore-unknown
        types_or:
          - javascript
          - ts
          - json
          - yaml
          - markdown
      - id: go-mod-tidy
        name: go mod tidy
        language: system
        entry: scripts/check-go-mod-tidy.sh
        pass_filenames: false
      - id: openapi-validate
        name: dataset openapi lint
        language: python
        entry: python
        args:
          - scripts/check_openapi.py
        additional_dependencies:
          - openapi-spec-validator==0.7.1
        files: ^docs/schema/dataset-service.openapi.yaml$
      - id: lint-via-make
        name: lint via make lint
        entry: make lint
        language: system
        pass_filenames: false
        files: '(^clients/python/.*\.py$|\.go$)'
      - id: go-test-via-make
        name: go test via make test
        entry: make test
        language: system
        pass_filenames: false
        files: '\.go$'

feat: enforce generated plugin contract metadata
  Makefile
  TODO.md
  docs/annex/plugin-contract.md
  internal/tools/entitymodel/generate/main.go
  internal/tools/entitymodel/generate/main_test.go
  internal/tools/entitymodel/generate/plugin_contract.go
  scripts/validate_plugin_patterns.go
  scripts/validate_plugin_patterns_test.go
Due: prettier, lint-via-make, go-test-via-make

feat(validation): enforce plugin contract flows
  Makefile
  TODO.md
  internal/validation/contract_flows.go
  internal/validation/contract_flows_test.go
  internal/validation/contract_metadata.go
  internal/validation/contract_metadata_test.go
  plugins/frog/contract_flows/organism_create.json
  scripts/validate_plugin_patterns.go
  scripts/validate_plugin_patterns_test.go
Due: prettier, lint-via-make, go-test-via-make

feat(entitymodel): embed canonical schema bundles
  .golangci.yml
  Makefile
  TODO.md
  docs/schema/entity-model.fingerprint.json
  docs/schema/sql/bundle.go
  internal/entitymodel/sqlbundle/sqlbundle.go
  internal/entitymodel/sqlbundle/sqlbundle_test.go
  internal/infra/persistence/sqlite/deps_test.go
  internal/infra/persistence/sqlite/store.go
  internal/infra/persistence/sqlite/store_test.go
  internal/tools/entitymodel/diff/main.go
  internal/tools/entitymodel/diff/main_test.go
  internal/tools/entitymodel/generate/roundtrip_test.go
Due: prettier, lint-via-make, go-test-via-make

feat(core): enforce lineage, lifecycle, and protocol rules
  TODO.md
  internal/ci/datasetapi.snapshot
  internal/core/dataset_store_adapter.go
  internal/core/dataset_store_adapter_test.go
  internal/core/plugin_registry_test.go
  internal/core/plugin_rule_adapter_test.go
  internal/core/rule_lifecycle_transition.go
  internal/core/rule_lifecycle_transition_test.go
  internal/core/rule_lineage_integrity.go
  internal/core/rule_lineage_integrity_test.go
  internal/core/rule_protocol_coverage.go
  internal/core/rule_protocol_coverage_test.go
  internal/core/rules.go
  internal/core/service_observability_test.go
  internal/core/service_test.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/memory/store_additional_coverage_test.go
  internal/infra/persistence/sqlite/memstore.go
  internal/infra/persistence/sqlite/memstore_full_test.go
  internal/infra/persistence/sqlite/memstore_test.go
  internal/integration/relationship_test.go
  pkg/datasetapi/facade.go
  pkg/domain/persistence.go
  pkg/domain/result_test.go
  pkg/domain/rules.go
  plugins/frog/plugin_test.go
Due: prettier, lint-via-make, go-test-via-make

feat: add schema-driven fixtures
  Makefile
  TODO.md
  docs/schema/README.md
  internal/core/entity_model_fixtures_test.go
  internal/tools/entitymodel/generate/fixtures.go
  internal/tools/entitymodel/generate/main.go
  internal/tools/entitymodel/generate/main_test.go
  testutil/fixtures/entity-model/README.md
  testutil/fixtures/entity-model/snapshot.json
Due: prettier, lint-via-make, go-test-via-make

chore: document cardinality notation
  TODO.md
  docs/schema/README.md
  internal/tools/entitymodel/validate/main_test.go
Due: prettier, lint-via-make, go-test-via-make

test: guard domain entities against schema drift
  TODO.md
  internal/tools/entitymodel/diff/main_test.go
  pkg/domain/entities_shape_test.go
Due: prettier, lint-via-make, go-test-via-make

feat: add postgres persistence adapter driven by entity model
  .golangci.yml
  TODO.md
  go.mod
  go.sum
  internal/adapters/testutil/.import-restrictions
  internal/core/entity_model_fixtures_test.go
  internal/core/persistence_contract_test.go
  internal/core/postgres_store.go
  internal/core/storage_extra_test.go
  internal/core/storage_test.go
  internal/infra/persistence/postgres/store.go
  internal/infra/persistence/postgres/store_test.go
Due: prettier, lint-via-make, go-test-via-make

test(postgres): harden store helpers
  README.md
  TODO.md
  docs/adr/0007-storage-baseline.md
  internal/infra/persistence/postgres/store.go
  internal/infra/persistence/postgres/store_test.go
Due: prettier, lint-via-make, go-test-via-make

chore: embed entity model openapi and add drift guard
  TODO.md
  docs/schema/README.md
  docs/schema/openapi/spec.go
  docs/schema/openapi/spec_test.go
  internal/entitymodel/openapi.go
  internal/entitymodel/openapi_test.go
  internal/tools/entitymodel/generate/main_test.go
Due: prettier, lint-via-make, go-test-via-make

fix: enforce lifecycle enums in persistence stores
  TODO.md
  docs/adr/0007-storage-baseline.md
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/memory/store_finders_cover_test.go
  internal/infra/persistence/memory/store_migrate_snapshot_test.go
  internal/infra/persistence/memory/store_state_normalization_test.go
  internal/infra/persistence/postgres/store_test.go
  internal/infra/persistence/sqlite/memstore.go
  internal/infra/persistence/sqlite/memstore_finders_cover_test.go
  internal/infra/persistence/sqlite/memstore_helpers_test.go
  internal/infra/persistence/sqlite/memstore_migrate_snapshot_test.go
  internal/infra/persistence/sqlite/memstore_state_normalization_test.go
Due: prettier, lint-via-make, go-test-via-make

chore: Update docs
  AGENTS.md
  ARCHITECTURE.md
  CONTRIBUTING.md
  README.md
  docs/adr/0007-storage-baseline.md
Due: prettier

feat: generate extension state constants
  CONTRIBUTING.md
  Makefile
  TODO.md
  internal/tools/entitymodel/generate/extensions.go
  internal/tools/entitymodel/generate/main.go
  internal/tools/entitymodel/generate/main_test.go
  internal/tools/entitymodel/generate/sql_test.go
  pkg/datasetapi/context_marker_test.go
  pkg/datasetapi/entity_states_gen.go
  pkg/datasetapi/facade.go
  pkg/datasetapi/facade_test.go
  pkg/datasetapi/housing_context.go
  pkg/datasetapi/housing_state_context.go
  pkg/datasetapi/permit_context.go
  pkg/datasetapi/procedure_context.go
  pkg/datasetapi/protocol_context.go
  pkg/datasetapi/sample_context.go
  pkg/datasetapi/treatment_context.go
  pkg/pluginapi/domain_aliases.go
  pkg/pluginapi/entity_states_gen.go
  pkg/pluginapi/housing_context.go
  pkg/pluginapi/housing_state_context.go
  pkg/pluginapi/permit_context.go
  pkg/pluginapi/protocol_context.go
  pkg/pluginapi/sample_context.go
  pkg/pluginapi/treatment_context.go
Due: prettier, lint-via-make, go-test-via-make

chore: normalize datasetapi state handling
  TODO.md
  docs/schema/README.md
  pkg/datasetapi/facade.go
  pkg/datasetapi/facade_state_normalization_test.go
  pkg/datasetapi/facade_test.go
  plugins/testhelper/dataset_test.go
Due: prettier, lint-via-make, go-test-via-make

test: guard schema invariants against rule drift
  LICENSE
  TODO.md
  docs/schema/README.md
  internal/core/rules.go
  internal/core/rules_invariants_test.go
Due: prettier, lint-via-make, go-test-via-make

docs: add entity model overview entrypoint
  TODO.md
  docs/annex/entity-model-overview.md
  docs/schema/README.md
Due: prettier

feat: accept entity model v0 and guard ddl bundles
  TODO.md
  docs/adr/0003-core-domain-schema.md
  docs/annex/plugin-contract.md
  docs/schema/entity-model.fingerprint.json
  docs/schema/entity-model.json
  docs/schema/openapi/entity-model.yaml
  internal/infra/persistence/postgres/store_test.go
  internal/infra/persistence/sqlite/store.go
  internal/infra/persistence/sqlite/store_test.go
Due: prettier, lint-via-make, go-test-via-make

feat: serve entity model openapi in admin route
  TODO.md
  docs/annex/entity-model-overview.md
  docs/schema/metadata.go
  docs/schema/metadata_test.go
  internal/adapters/datasets/.import-restrictions
  internal/adapters/datasets/handler.go
  internal/adapters/datasets/handler_test.go
  internal/entitymodel/metadata.go
  internal/entitymodel/metadata_test.go
Due: prettier, lint-via-make, go-test-via-make

feat: surface entity model metadata via admin endpoint
  TODO.md
  docs/annex/entity-model-overview.md
  docs/schema/metadata.go
  docs/schema/metadata_test.go
  internal/adapters/datasets/handler.go
  internal/adapters/datasets/handler_test.go
  internal/entitymodel/metadata.go
  internal/entitymodel/metadata_test.go
Due: prettier, lint-via-make, go-test-via-make

feat: gate plugin installs on entity-model compatibility
  TODO.md
  docs/annex/entity-model-overview.md
  internal/adapters/testutil/.import-restrictions
  internal/ci/pluginapi.snapshot
  internal/core/.import-restrictions
  internal/core/dataset.go
  internal/core/service.go
  internal/core/service_entitymodel_compat_test.go
  internal/entitymodel/metadata.go
  internal/entitymodel/metadata_test.go
  pkg/datasetapi/host_template.go
  pkg/datasetapi/host_template_test.go
  pkg/datasetapi/types.go
  pkg/pluginapi/plugin.go
Due: prettier, lint-via-make, go-test-via-make

test(postgres): harden store delta coverage
  TODO.md
  docs/adr/0007-storage-baseline.md
  internal/core/entity_model_fixtures_test.go
  internal/core/storage_extra_test.go
  internal/core/storage_test.go
  internal/infra/persistence/postgres/store.go
  internal/infra/persistence/postgres/store_test.go
  internal/infra/persistence/postgres/testutil/stub.go
  internal/infra/persistence/postgres/testutil/stub_test.go
Due: prettier, lint-via-make, go-test-via-make

ci: use Makefile as single source of truth for Docker images
  .github/workflows/ci.yaml
  Makefile
Due: prettier

fix: Hardcoded local path
  scripts/validate_plugin_patterns_test.go
Due: lint-via-make, go-test-via-make

fix: Improve makefile Docker error handling
  Makefile
Due: none

fix: Makefile error handling
  Makefile
Due: none

fix: Makefile CI failure
  Makefile
Due: none

fix: Remove `TODO.md`
  TODO.md
Due: prettier

chore: Initialize repos and define tasks
  TODO.md
Due: prettier

doc: Add typing annex
  TODO.md
  docs/annex/0004-typing-guidelines.md
  docs/rfc/registry.yaml
Due: prettier

docs: document any allowlist format and parameter defaults
  TODO.md
  docs/annex/0004-typing-guidelines.md
Due: prettier

chore: add any-usage lint guard
  .golangci.yml
  Makefile
  TODO.md
  docs/annex/0004-typing-guidelines.md
  internal/ci/any_allowlist.json
  internal/validation/any_usage.go
  internal/validation/any_usage_test.go
  scripts/validate_any_usage/main.go
  scripts/validate_any_usage/main_test.go
Due: prettier, lint-via-make, go-test-via-make

feat(datasetapi): move parameter defaults to json.RawMessage
  .gitignore
  TODO.md
  docs/annex/0004-typing-guidelines.md
  internal/ci/any_allowlist.json
  internal/core/dataset_test.go
  pkg/datasetapi/host_template.go
  pkg/datasetapi/host_template_test.go
  pkg/datasetapi/types.go
  plugins/frog/plugin.go
Due: prettier, lint-via-make, go-test-via-make

refactor(api): wrap extension payload accessors
  TODO.md
  docs/annex/0004-typing-guidelines.md
  internal/ci/any_allowlist.json
  internal/ci/datasetapi.snapshot
  internal/ci/pluginapi.snapshot
  internal/core/dataset_facade_mapper.go
  internal/core/dataset_facade_mapper_test.go
  internal/core/extension_payload.go
  internal/core/extension_payload_test.go
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_test.go
  pkg/datasetapi/extensions.go
  pkg/datasetapi/extensions_test.go
  pkg/datasetapi/facade.go
  pkg/datasetapi/facade_test.go
  pkg/datasetapi/test_helpers_test.go
  pkg/pluginapi/extensions.go
  pkg/pluginapi/extensions_test.go
  plugins/testhelper/dataset.go
Due: prettier, lint-via-make, go-test-via-make

feat(pluginapi): replace change snapshots with ChangePayload
  TODO.md
  docs/annex/0004-typing-guidelines.md
  internal/ci/any_allowlist.json
  internal/ci/pluginapi.snapshot
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_test.go
  pkg/pluginapi/builder_test.go
  pkg/pluginapi/change_payload.go
  pkg/pluginapi/change_payload_test.go
  pkg/pluginapi/domain_aliases.go
  pkg/pluginapi/domain_aliases_deep_test.go
  pkg/pluginapi/domain_aliases_test.go
Due: prettier, lint-via-make, go-test-via-make

feat(benchmarks): add Sweet harness and patch maintenance tooling
  .github/workflows/ci.yaml
  .gitignore
  Makefile
  TODO.md
  benchmarks/assets-empty/README.md
  docs/annex/0004-typing-guidelines.md
  internal/ci/benchmarks/README.md
  internal/ci/benchmarks/baseline.withmeta.results
  pkg/datasetapi/clone_bench_test.go
  pkg/pluginapi/clone_bench_test.go
  scripts/benchmarks/aggregate_results.sh
  scripts/benchmarks/benchstat.sh
  scripts/benchmarks/ci.sh
  scripts/benchmarks/env.sh
  scripts/benchmarks/install_tools.sh
  scripts/benchmarks/prepare_sweet.sh
  scripts/benchmarks/refresh_sweet_patch.sh
  scripts/benchmarks/run_sweet.sh
  scripts/benchmarks/sweet_colonycore.patch
  scripts/benchmarks/withmeta.sh
Due: prettier, lint-via-make, go-test-via-make

chore: expand any-usage guard to core and dataset adapters
  TODO.md
  docs/annex/0004-typing-guidelines.md
  docs/rfc/registry.yaml
  internal/ci/any_allowlist.json
  scripts/benchmarks/install_tools.sh
  scripts/benchmarks/refresh_sweet_patch.sh
  scripts/benchmarks/run_sweet.sh
  scripts/benchmarks/sweet_colonycore.patch
  scripts/benchmarks/withmeta.sh
  scripts/validate_any_usage/main.go
Due: prettier, lint-via-make, go-test-via-make

chore: expand any-usage guard to infra and plugins
  TODO.md
  docs/annex/0004-typing-guidelines.md
  internal/ci/any_allowlist.json
  internal/infra/persistence/postgres/store.go
  internal/infra/persistence/postgres/store_test.go
  scripts/validate_any_usage/main.go
Due: prettier, lint-via-make, go-test-via-make

chore: include pkg/domain in any-usage guard and allowlist
  TODO.md
  docs/annex/0004-typing-guidelines.md
  internal/ci/any_allowlist.json
  scripts/validate_any_usage/main.go
Due: prettier, lint-via-make, go-test-via-make

refactor: type domain change snapshots as ChangePayload
  TODO.md
  docs/annex/0004-typing-guidelines.md
  internal/ci/any_allowlist.json
  internal/core/change_payload.go
  internal/core/entity_model_fixtures_test.go
  internal/core/plugin_rule_adapter.go
  internal/core/plugin_rule_adapter_test.go
  internal/core/rule_lifecycle_transition.go
  internal/core/rule_lifecycle_transition_test.go
  internal/core/rule_lineage_integrity.go
  internal/core/rule_lineage_integrity_test.go
  internal/core/rule_protocol_coverage.go
  internal/core/rule_protocol_coverage_test.go
  internal/core/test_helpers_test.go
  internal/infra/persistence/memory/change_payload_test.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/sqlite/memstore.go
  pkg/domain/change_payload.go
  pkg/domain/change_payload_test.go
  pkg/domain/entities.go
Due: prettier, lint-via-make, go-test-via-make
