Repository colonystack/colonycore: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, openapi-validate, lint-via-make, go-test-via-make

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.7.0"
default_stages:
  - pre-commit
  - pre-push
  - manual

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer
        exclude: .*(\.md|\.MD)$
      - id: trailing-whitespace
        exclude: .*(\.md|\.MD)$
      - id: check-yaml

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: prettier
        name: prettier (js/ts/json/yaml/md)
        language: system
        entry: pnpm
        args:
          - dlx
          - prettier@3.3.3
          - --ignore-unknown
        types_or:
          - javascript
          - ts
          - json
          - yaml
          - markdown
      - id: go-mod-tidy
        name: go mod tidy
        language: system
        entry: scripts/check-go-mod-tidy.sh
        pass_filenames: false
      - id: openapi-validate
        name: dataset openapi lint
        language: python
        entry: python
        args:
          - scripts/check_openapi.py
        additional_dependencies:
          - openapi-spec-validator==0.7.1
        files: ^docs/schema/dataset-service.openapi.yaml$
      - id: lint-via-make
        name: lint via make lint
        entry: make lint
        language: system
        pass_filenames: false
        files: '(^clients/python/.*\.py$|\.go$)'
      - id: go-test-via-make
        name: go test via make test
        entry: make test
        language: system
        pass_filenames: false
        files: '\.go$'

docs(typing): record touchpoint scope and audit map
  TODO.md
  docs/annex/0004-typing-guidelines.md
Due: prettier

docs: add typing hardening review checklist
  TODO.md
  docs/annex/0004-typing-guidelines.md
Due: prettier

docs: add changelog entry for typing hardening
  TODO.md
  docs/annex/0004-typing-guidelines.md
Due: prettier

chore(benchmarks): make benchmark scripts executable
  scripts/benchmarks/aggregate_results.sh
  scripts/benchmarks/benchstat.sh
  scripts/benchmarks/ci.sh
  scripts/benchmarks/env.sh
  scripts/benchmarks/install_tools.sh
  scripts/benchmarks/prepare_sweet.sh
  scripts/benchmarks/refresh_sweet_patch.sh
  scripts/benchmarks/run_sweet.sh
  scripts/benchmarks/withmeta.sh
Due: none

fix(benchmarks): refresh sweet patch with context
  scripts/benchmarks/refresh_sweet_patch.sh
  scripts/benchmarks/sweet_colonycore.patch
Due: none

fix(registry-check): validate doc status and address lint warnings
  Makefile
  cmd/registry-check/main.go
  cmd/registry-check/main_full_lists_test.go
  cmd/registry-check/main_invoke_test.go
  cmd/registry-check/main_test.go
  cmd/registry-check/status_check_test.go
  cmd/registry-check/testutil_test.go
  docs/rfc/registry.yaml
  pkg/datasetapi/facade_test.go
  pkg/domain/extension/container_additional_test.go
Due: prettier, lint-via-make, go-test-via-make

chore: strengthen validation and tooling
  .golangci.yml
  CONTRIBUTING.md
  Makefile
  TODO.md
  clients/R/LINTING.md
  cmd/registry-check/main.go
  cmd/registry-check/main_full_lists_test.go
  cmd/registry-check/main_invoke_test.go
  cmd/registry-check/main_test.go
  cmd/registry-check/status_check_test.go
  cmd/registry-check/testutil_test.go
  docs/annex/0004-typing-guidelines.md
  internal/infra/persistence/sqlite/memstore.go
  internal/infra/persistence/sqlite/memstore_delete_guard_extra_test.go
  internal/infra/persistence/sqlite/memstore_getters_test.go
  internal/infra/persistence/sqlite/memstore_migrate_snapshot_test.go
  internal/infra/persistence/sqlite/memstore_validation_test.go
  internal/infra/persistence/sqlite/store_additional_test.go
  internal/infra/persistence/sqlite/store_test.go
  pkg/datasetapi/coverage_test.go
  pkg/datasetapi/facade_test.go
  pkg/domain/extension/container_additional_test.go
  pkg/pluginapi/change_payload.go
  pkg/pluginapi/extensions.go
  scripts/benchmarks/env.sh
  scripts/benchmarks/refresh_sweet_patch.sh
  scripts/benchmarks/sweet_colonycore.patch
  scripts/setup_r_lintr.R
Due: prettier, lint-via-make, go-test-via-make

fix:(benchmark): Fix Patch-file escaping
  .pre-commit-config.yaml
  scripts/benchmarks/refresh_sweet_patch.sh
  scripts/benchmarks/sweet_colonycore.patch
Due: prettier

chore: stabilize r-lint setup and sweet overlays
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  Makefile
  clients/R/LINTING.md
  scripts/benchmarks/README.md
  scripts/benchmarks/env.sh
  scripts/benchmarks/prepare_sweet.sh
  scripts/benchmarks/refresh_sweet_patch.sh
  scripts/benchmarks/sweet_colonycore.patch
  scripts/benchmarks/sweet_overlays/sweet/harnesses/colonycore.go.tmpl
  scripts/run_lintr.py
  scripts/setup_r_lintr.R
Due: prettier

fix: Run gofmt
  cmd/registry-check/main.go
  internal/core/change_payload.go
  internal/core/dataset_facade_mapper.go
  internal/core/extension_payload.go
  internal/core/plugin_rule_adapter.go
  internal/core/rule_lifecycle_transition.go
  internal/infra/persistence/memory/store.go
  internal/infra/persistence/postgres/store.go
  internal/infra/persistence/sqlite/memstore.go
  internal/validation/any_usage.go
  pkg/datasetapi/extensions.go
  pkg/datasetapi/facade.go
  pkg/datasetapi/host_template.go
  pkg/domain/change_payload.go
  pkg/pluginapi/change_payload.go
  pkg/pluginapi/domain_aliases.go
  pkg/pluginapi/extensions.go
  plugins/testhelper/dataset.go
  scripts/validate_any_usage/main.go
Due: lint-via-make, go-test-via-make

fix: harden validation, benchmarks, and lint tooling
  internal/infra/persistence/sqlite/memstore.go
  internal/infra/persistence/sqlite/memstore_getters_test.go
  internal/infra/persistence/sqlite/memstore_test.go
  internal/infra/persistence/sqlite/memstore_validation_test.go
  internal/validation/any_usage.go
  internal/validation/any_usage_test.go
  pkg/datasetapi/extensions.go
  pkg/domain/change_payload.go
  pkg/pluginapi/clone_bench_test.go
  scripts/benchmarks/benchstat.sh
  scripts/benchmarks/sweet_colonycore.patch
  scripts/benchmarks/sweet_overlays/sweet/harnesses/colonycore.go.tmpl
  scripts/run_lintr.py
  scripts/setup_r_lintr.R
Due: lint-via-make, go-test-via-make

fix: Precommit issues
  .github/workflows/ci.yaml
  scripts/benchmarks/env.sh
  scripts/run_lintr.py
Due: prettier

fix: harden registry schema validation and fixtures
  AGENTS.md
  CONTRIBUTING.md
  Makefile
  cmd/registry-check/fixtures_test.go
  cmd/registry-check/main.go
  cmd/registry-check/main_additional_test.go
  cmd/registry-check/main_extra_test.go
  cmd/registry-check/main_test.go
  cmd/registry-check/repo_root_test.go
  cmd/registry-check/status_check_test.go
  cmd/registry-check/testutil_test.go
  docs/schema/README.md
  docs/schema/registry.schema.json
  docs/schema/registry.schema.yaml
  testutil/fixtures/registry/README.md
  testutil/fixtures/registry/docs/adr-full.md
  testutil/fixtures/registry/docs/adr-status-header.md
  testutil/fixtures/registry/docs/annex-multi.md
  testutil/fixtures/registry/docs/invalid-missing-title.md
  testutil/fixtures/registry/docs/invalid-status.md
  testutil/fixtures/registry/docs/invalid-type.md
  testutil/fixtures/registry/docs/rfc-edge-empty.md
  testutil/fixtures/registry/docs/rfc-minimal.md
  testutil/fixtures/registry/docs/rfc-multi.md
  testutil/fixtures/registry/edge/registry-empty-lists.yaml
  testutil/fixtures/registry/edge/registry-status-header.yaml
  testutil/fixtures/registry/invalid/registry-bad-status.yaml
  testutil/fixtures/registry/invalid/registry-bad-type.yaml
  testutil/fixtures/registry/invalid/registry-missing-title.yaml
  testutil/fixtures/registry/valid/registry-full.yaml
  testutil/fixtures/registry/valid/registry-minimal.yaml
  testutil/fixtures/registry/valid/registry-multi.yaml
Due: prettier, lint-via-make, go-test-via-make

ci: ensure BLAS runtime for R lint setup
  .github/workflows/ci.yaml
Due: prettier

fix: harden R lint setup bootstrap
  scripts/run_lintr.py
Due: none

fix: harden R lint setup bootstrap
  .github/workflows/ci.yaml
Due: prettier

fix: Implement CR feedback
  Makefile
  cmd/registry-check/fixtures_test.go
  cmd/registry-check/main.go
  testutil/fixtures/registry/README.md
Due: prettier, lint-via-make, go-test-via-make

fix: Allow missing dependency
  .golangci.yml
Due: prettier

fix: Whitespace and file endings
  cmd/registry-check/main.go
  scripts/run_lintr.py
Due: lint-via-make, go-test-via-make

feat(registry-check): tighten fixtures and schema docs
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  cmd/registry-check/main.go
  cmd/registry-check/repo_root_test.go
  cmd/registry-check/testutil_test.go
  docs/schema/README.md
  docs/schema/registry.schema.json
  testutil/fixtures/registry/README.md
  testutil/fixtures/registry/docs/fixture-for-missing-title.md
  testutil/fixtures/registry/edge/registry-empty-lists.yaml
  testutil/fixtures/registry/invalid/registry-missing-title.yaml
Due: prettier, lint-via-make, go-test-via-make

fix(registry-check): align fixtures, parser, and docs
  cmd/registry-check/main.go
  cmd/registry-check/repo_root_test.go
  cmd/registry-check/testutil_test.go
Due: lint-via-make, go-test-via-make

fix(registry-check): tighten schema, fixtures, and test harness
  CONTRIBUTING.md
  Makefile
  clients/R/LINTING.md
  cmd/registry-check/fixtures_test.go
  docs/schema/registry.schema.json
  scripts/run_lintr.py
  testutil/fixtures/registry/README.md
  testutil/fixtures/registry/invalid/registry-bad-path.yaml
Due: prettier, lint-via-make, go-test-via-make

fix: harden registry schema validation and fixtures (#110)
  .github/workflows/ci.yaml
  .golangci.yml
  AGENTS.md
  CONTRIBUTING.md
  Makefile
  clients/R/LINTING.md
  cmd/registry-check/fixtures_test.go
  cmd/registry-check/main.go
  cmd/registry-check/main_additional_test.go
  cmd/registry-check/main_extra_test.go
  cmd/registry-check/main_test.go
  cmd/registry-check/repo_root_test.go
  cmd/registry-check/status_check_test.go
  cmd/registry-check/testutil_test.go
  docs/schema/README.md
  docs/schema/registry.schema.json
  docs/schema/registry.schema.yaml
  scripts/run_lintr.py
  testutil/fixtures/registry/README.md
  testutil/fixtures/registry/docs/adr-full.md
  testutil/fixtures/registry/docs/adr-status-header.md
  testutil/fixtures/registry/docs/annex-multi.md
  testutil/fixtures/registry/docs/fixture-for-missing-title.md
  testutil/fixtures/registry/docs/invalid-status.md
  testutil/fixtures/registry/docs/invalid-type.md
  testutil/fixtures/registry/docs/rfc-edge-empty.md
  testutil/fixtures/registry/docs/rfc-minimal.md
  testutil/fixtures/registry/docs/rfc-multi.md
  testutil/fixtures/registry/edge/registry-empty-lists.yaml
  testutil/fixtures/registry/edge/registry-status-header.yaml
  testutil/fixtures/registry/invalid/registry-bad-path.yaml
  testutil/fixtures/registry/invalid/registry-bad-status.yaml
  testutil/fixtures/registry/invalid/registry-bad-type.yaml
  testutil/fixtures/registry/invalid/registry-missing-title.yaml
  testutil/fixtures/registry/valid/registry-full.yaml
  testutil/fixtures/registry/valid/registry-minimal.yaml
  testutil/fixtures/registry/valid/registry-multi.yaml
Due: prettier, lint-via-make, go-test-via-make

feat: add markdownlint baseline workflow
  .markdownlint.yaml
  .pre-commit-config.yaml
  Makefile
  cmd/check-markdownlint-baseline/main.go
  cmd/check-markdownlint-baseline/main_test.go
  docs/annex/0005-documentation-standards.md
  internal/ci/markdownlint.baseline.json
  scripts/check_markdownlint_baseline/main.go
  scripts/check_markdownlint_baseline/main_test.go
Due: prettier, lint-via-make, go-test-via-make

feat(plugins): add v1 plugin API docs and conformance suite with CI enforcement
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  Makefile
  README.md
  plugins/README.md
  plugins/conformance/.import-restrictions
  plugins/conformance/doc.go
  plugins/conformance/plugin_conformance_test.go
Due: prettier, lint-via-make, go-test-via-make

chore(lint): update markdownlint timeline and filename handling
  .markdownlint.yaml
  Makefile
  docs/annex/0005-documentation-standards.md
  scripts/check_markdownlint_baseline/main.go
  scripts/check_markdownlint_baseline/main_test.go
Due: prettier, lint-via-make, go-test-via-make

feat: add markdownlint baseline workflow (#132)
  .markdownlint.yaml
  .pre-commit-config.yaml
  Makefile
  cmd/check-markdownlint-baseline/main.go
  cmd/check-markdownlint-baseline/main_test.go
  docs/annex/0005-documentation-standards.md
  internal/ci/markdownlint.baseline.json
  scripts/check_markdownlint_baseline/main.go
  scripts/check_markdownlint_baseline/main_test.go
Due: prettier, lint-via-make, go-test-via-make

test(plugins): harden conformance validation and v1 API major checks
  plugins/README.md
  plugins/conformance/plugin_conformance_test.go
Due: prettier, lint-via-make, go-test-via-make

feat(plugins): add v1 plugin API docs and conformance suite with CI e… (#134)
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  Makefile
  README.md
  plugins/README.md
  plugins/conformance/.import-restrictions
  plugins/conformance/doc.go
  plugins/conformance/plugin_conformance_test.go
Due: prettier, lint-via-make, go-test-via-make

feat(dataset): add template spec validation, colony lint dataset CLI, and fail-fast registration checks
  README.md
  cmd/colony/main.go
  cmd/colony/main_test.go
  docs/annex/0006-dataset-template-validation.md
  internal/ci/datasetapi.snapshot
  internal/core/dataset_test.go
  internal/core/plugin_registry_extra_test.go
  internal/core/service_entitymodel_compat_test.go
  pkg/datasetapi/host_template.go
  pkg/datasetapi/host_template_test.go
  pkg/datasetapi/template_validation.go
  pkg/datasetapi/template_validation_test.go
  plugins/README.md
  testutil/fixtures/dataset-templates/README.md
  testutil/fixtures/dataset-templates/edge/dsl_without_slug.json
  testutil/fixtures/dataset-templates/edge/sql_with_cte.json
  testutil/fixtures/dataset-templates/invalid/duplicate_fields.json
  testutil/fixtures/dataset-templates/invalid/missing_required.json
  testutil/fixtures/dataset-templates/invalid/sql_mutation_statement.json
  testutil/fixtures/dataset-templates/valid/frog_population_snapshot.json
  testutil/fixtures/dataset-templates/valid/organism_counts.json
Due: prettier, lint-via-make, go-test-via-make

fix(dataset): harden template lint parsing and SQL semantic normalization
  cmd/colony/main.go
  cmd/colony/main_test.go
  pkg/datasetapi/template_validation.go
  pkg/datasetapi/template_validation_test.go
Due: lint-via-make, go-test-via-make

feat(dataset): add template spec validation, colony lint dataset CLI,… (#135)
  README.md
  cmd/colony/main.go
  cmd/colony/main_test.go
  docs/annex/0006-dataset-template-validation.md
  internal/ci/datasetapi.snapshot
  internal/core/dataset_test.go
  internal/core/plugin_registry_extra_test.go
  internal/core/service_entitymodel_compat_test.go
  pkg/datasetapi/host_template.go
  pkg/datasetapi/host_template_test.go
  pkg/datasetapi/template_validation.go
  pkg/datasetapi/template_validation_test.go
  plugins/README.md
  testutil/fixtures/dataset-templates/README.md
  testutil/fixtures/dataset-templates/edge/dsl_without_slug.json
  testutil/fixtures/dataset-templates/edge/sql_with_cte.json
  testutil/fixtures/dataset-templates/invalid/duplicate_fields.json
  testutil/fixtures/dataset-templates/invalid/missing_required.json
  testutil/fixtures/dataset-templates/invalid/sql_mutation_statement.json
  testutil/fixtures/dataset-templates/valid/frog_population_snapshot.json
  testutil/fixtures/dataset-templates/valid/organism_counts.json
Due: prettier, lint-via-make, go-test-via-make

feat(cli): add catalog lifecycle management commands with audit chain and metadata outputs
  README.md
  cmd/colony/catalog.go
  cmd/colony/catalog_test.go
  cmd/colony/coverage_additional_test.go
  cmd/colony/main.go
  docs/annex/0007-catalog-lifecycle-management.md
Due: prettier, lint-via-make, go-test-via-make

fix(catalog): harden lifecycle locking and metadata validation
  README.md
  cmd/colony/catalog.go
  cmd/colony/catalog_test.go
  docs/annex/0007-catalog-lifecycle-management.md
Due: prettier, lint-via-make, go-test-via-make

fix(colony): harden catalog locking, audit error handling, and migration compatibility
  cmd/colony/catalog.go
  cmd/colony/catalog_test.go
  cmd/colony/coverage_additional_test.go
Due: lint-via-make, go-test-via-make
